<div class="container mt-5 mb-5">
    <div class="row">
        <div class="card mb-5 mb-xl-10">
            <div class="card-body pt-9 pb-0">
                <!--begin::Details-->
                <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                    <!--begin: Pic-->
                    <div class="me-7 mb-4">
                        <input type="hidden" id="id_orga" value="<%=orga[0].Ref_organisation%>">
                        <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                            <img src="<%=url_file+'/'+file.LOGO.path%>" alt="image" />
                            <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
                        </div>
                    </div>
                    <!--end::Pic-->
                    <!--begin::Info--> 
                    <div class="flex-grow-1">
                        <!--begin::Title-->
                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                            <!--begin::User-->
                            <div class="d-flex flex-column">
                                <!--begin::Name-->
                                <div class="d-flex align-items-center mb-2">
                                    <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1"><%=orga[0].Denomination_organisation%></a>
                                    <a href="#">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen026.svg-->
                                        <span class="svg-icon svg-icon-1 svg-icon-success">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                                                <path d="M10.0813 3.7242C10.8849 2.16438 13.1151 2.16438 13.9187 3.7242V3.7242C14.4016 4.66147 15.4909 5.1127 16.4951 4.79139V4.79139C18.1663 4.25668 19.7433 5.83365 19.2086 7.50485V7.50485C18.8873 8.50905 19.3385 9.59842 20.2758 10.0813V10.0813C21.8356 10.8849 21.8356 13.1151 20.2758 13.9187V13.9187C19.3385 14.4016 18.8873 15.491 19.2086 16.4951V16.4951C19.7433 18.1663 18.1663 19.7433 16.4951 19.2086V19.2086C15.491 18.8873 14.4016 19.3385 13.9187 20.2758V20.2758C13.1151 21.8356 10.8849 21.8356 10.0813 20.2758V20.2758C9.59842 19.3385 8.50905 18.8873 7.50485 19.2086V19.2086C5.83365 19.7433 4.25668 18.1663 4.79139 16.4951V16.4951C5.1127 15.491 4.66147 14.4016 3.7242 13.9187V13.9187C2.16438 13.1151 2.16438 10.8849 3.7242 10.0813V10.0813C4.66147 9.59842 5.1127 8.50905 4.79139 7.50485V7.50485C4.25668 5.83365 5.83365 4.25668 7.50485 4.79139V4.79139C8.50905 5.1127 9.59842 4.66147 10.0813 3.7242V3.7242Z" fill="currentColor" />
                                                <path d="M14.8563 9.1903C15.0606 8.94984 15.3771 8.9385 15.6175 9.14289C15.858 9.34728 15.8229 9.66433 15.6185 9.9048L11.863 14.6558C11.6554 14.9001 11.2876 14.9258 11.048 14.7128L8.47656 12.4271C8.24068 12.2174 8.21944 11.8563 8.42911 11.6204C8.63877 11.3845 8.99996 11.3633 9.23583 11.5729L11.3706 13.4705L14.8563 9.1903Z" fill="white" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </a>
                                   
                                </div>
                                
                                <!--end::Name-->
                                <!--begin::Info-->
                                <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                    <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                    <span class="svg-icon svg-icon-4 me-1">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.3" d="M16.5 9C16.5 13.125 13.125 16.5 9 16.5C4.875 16.5 1.5 13.125 1.5 9C1.5 4.875 4.875 1.5 9 1.5C13.125 1.5 16.5 4.875 16.5 9Z" fill="currentColor" />
                                            <path d="M9 16.5C10.95 16.5 12.75 15.75 14.025 14.55C13.425 12.675 11.4 11.25 9 11.25C6.6 11.25 4.57499 12.675 3.97499 14.55C5.24999 15.75 7.05 16.5 9 16.5Z" fill="currentColor" />
                                            <rect x="7" y="6" width="4" height="4" rx="2" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->Organisation</a>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen018.svg-->
                                    <span class="svg-icon svg-icon-4 me-1">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="currentColor" />
                                            <path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon--><%=orga[0].Numero_tel_organisation%></a>
                                    <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary mb-2">
                                    <!--begin::Svg Icon | path: icons/duotune/communication/com011.svg-->
                                    <span class="svg-icon svg-icon-4 me-1">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor" />
                                            <path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon--><%=orga[0].Email_organisation%></a>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->
                            <!--begin::Actions-->
                            <!--begin::Actions-->
														<div class="d-flex my-4">
															
															<a href="/eligi/deco" class="btn btn-sm btn-danger me-2" >Se déconnecter</a>
															<!--begin::Menu-->
															
															<!--end::Menu-->
														</div>
														<!--end::Actions-->
                            <!--end::Actions-->
                        </div>
                        <!--end::Title-->
                        <!--begin::Stats-->
                        <div class="d-flex flex-wrap flex-stack">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column flex-grow-1 pe-8">
                                <!--begin::Stats-->
                                <div class="d-flex flex-wrap">
                                    <!--begin::Stat-->
                                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                        <!--begin::Number-->
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
                                            <span class="svg-icon svg-icon-3 svg-icon-success me-2">
                                                <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M602.587685 727.095869c7.981294-58.263445 57.465316-115.728761 73.427903-131.691348 94.977397-91.784879 97.371785-242.631333 5.586906-337.60873s-243.429462-97.371785-338.406859-5.586906-97.371785 243.429462-5.586905 338.406859l5.586905 5.586906c15.962588 15.164458 65.44661 72.629774 73.427904 131.691348 1.596259 17.558846 3.192518 35.117693 2.394388 51.87841h180.377241c0.798129-17.558846 1.596259-35.117693 3.192517-52.676539z" fill="#FFECBA"></path><path d="M600.193297 795.734996H419.017927c-3.990647 0-7.981294-1.596259-11.173812-4.788776-3.192518-3.192518-4.788776-7.183164-4.788776-11.173812 0-16.760717-0.798129-33.521434-2.394388-50.282151-7.183164-51.87841-51.87841-105.353079-68.639127-122.113796l-5.586906-5.586905c-47.887763-48.685892-73.427903-113.334373-71.831644-181.9735s28.732658-131.691348 77.41855-179.579111 113.334373-73.427903 181.973499-71.831645c67.840998 0.798129 131.691348 28.732658 179.579112 77.41855s73.427903 113.334373 71.831645 181.9735c-0.798129 67.840998-28.732658 131.691348-77.418551 179.579111-15.962588 15.164458-61.455963 69.437256-68.639127 122.113796-1.596259 16.760717-3.192518 33.521434-2.394388 50.282151 0 3.990647-1.596259 7.981294-4.788776 11.173812-3.990647 3.192518-7.981294 4.788776-11.971941 4.788776z m-165.212783-31.925175h149.250195c0-12.77007 1.596259-25.54014 2.394388-38.310211 10.375682-74.226033 77.41855-139.672642 78.21668-140.470771 43.098987-41.502728 67.042868-97.371785 67.840998-157.231489 0.798129-59.859704-21.549493-116.52689-63.052222-158.827748-41.502728-43.098987-97.371785-67.042868-157.231488-67.840997C453.33749 199.532346 396.670304 221.879969 354.369447 263.382697c-43.098987 41.502728-67.042868 97.371785-67.840998 157.231489-0.798129 59.859704 21.549493 116.52689 63.052221 158.827747l4.788777 4.788776c0.798129 0.798129 67.840998 67.042868 78.216679 140.470772 1.596259 13.5682 2.394388 26.33827 2.394388 39.10834z" fill=""></path><path d="M418.219797 902.684334c-2.394388 53.474669 37.512081 99.766173 91.78488 105.353078 53.474669-4.788776 94.179267-51.080281 91.784879-105.353078 0-39.906469-1.596259-85.399844-1.596259-123.710055H419.017927c0.798129 38.31021-0.798129 83.803585-0.79813 123.710055z" fill="#B2DAF6"></path><path d="M510.004677 1024h-1.596259c-62.254092-5.586906-108.545596-59.061574-106.151208-121.315666 0-18.356976 0-37.512081 0.798129-55.869057 0-22.347623 0.798129-46.291504 0.798129-67.042869 0-3.990647 1.596259-7.981294 4.788777-11.173811 3.192518-3.192518 7.183164-4.788776 11.173811-4.788776h181.17537c3.990647 0 7.981294 1.596259 11.173812 4.788776 3.192518 3.192518 4.788776 7.183164 4.788776 11.173811 0 19.953235 0 43.098987 0.798129 65.44661 0 19.155105 0.798129 39.10834 0.79813 57.465316 2.394388 62.254092-43.897116 115.728761-106.949338 121.315666h-1.596258z m-75.024163-228.265004c0 16.760717 0 34.319564-0.798129 51.080281 0 19.155105-0.798129 38.31021-0.798129 55.869057v0.798129c-1.596259 44.695246 31.127046 83.005456 75.822291 88.592362 44.695246-4.788776 78.21668-43.098987 75.822292-88.592362 0-19.155105 0-38.31021-0.79813-57.465316 0-16.760717-0.798129-34.319564-0.798129-50.282151H434.980514zM418.219797 902.684334z" fill=""></path><path d="M633.714731 795.734996H378.313328c-8.779423 0-15.962588-7.183164-15.962588-15.962588s7.183164-15.962588 15.962588-15.962587h255.401403c8.779423 0 15.962588 7.183164 15.962588 15.962587s-7.183164 15.962588-15.962588 15.962588zM601.789556 861.181606H418.219797c-8.779423 0-15.962588-7.183164-15.962587-15.962588s7.183164-15.962588 15.962587-15.962588h183.569759c8.779423 0 15.962588 7.183164 15.962587 15.962588s-7.183164 15.962588-15.962587 15.962588zM601.789556 919.445051H418.219797c-8.779423 0-15.962588-7.183164-15.962587-15.962588s7.183164-15.962588 15.962587-15.962588h183.569759c8.779423 0 15.962588 7.183164 15.962587 15.962588s-7.183164 15.962588-15.962587 15.962588z" fill=""></path><path d="M478.877631 795.734996c-8.779423 0-15.962588-7.183164-15.962588-15.962588 0-1.596259-2.394388-144.461419-2.394388-209.109898h-3.990647c-19.953235 0-34.319564-5.586906-43.897116-15.962588-8.779423-8.779423-12.77007-21.549493-11.971941-36.713952 0.798129-12.77007 7.183164-41.502728 50.282151-41.502728 12.77007 0 23.145752 3.192518 29.530787 10.375682 11.971941 11.971941 11.971941 29.530787 11.173812 50.282152v0.798129h31.925175V526.765394c0-31.925175 18.356976-49.484022 51.080281-49.484022 13.5682 0 24.742011 5.586906 32.723304 15.164458 6.385035 7.981294 10.375682 19.155105 10.375682 30.328917 0 23.943882-15.962588 48.685892-44.695245 48.685892h-17.558847v208.311769c0 8.779423-7.183164 15.962588-15.962587 15.962588s-15.962588-7.183164-15.962588-15.962588V571.460639h-31.925175c0.798129 63.850351 2.394388 206.715511 2.394388 208.311769 0.798129 8.779423-5.586906 15.962588-15.164458 15.962588z m77.41855-256.199532h17.558846c10.375682 0 12.77007-11.971941 12.77007-16.760717 0-3.990647-0.798129-7.981294-3.192517-10.375682-0.798129-1.596259-3.192518-3.192518-7.981294-3.192518-16.760717 0-19.155105 3.990647-19.155105 17.558847v12.77007z m-105.353079-30.328917c-17.558846 0-17.558846 5.586906-18.356976 11.971941 0 5.586906 0.798129 10.375682 3.192518 12.77007 3.192518 3.192518 11.173811 5.586906 20.751364 5.586906h3.990647v-0.79813c0-10.375682 0-25.54014-2.394388-27.934528-0.798129-0.798129-2.394388-1.596259-7.183165-1.596259zM332.819953 435.778644c-8.779423 0-15.962588-7.183164-15.962587-15.962588C316.857366 320.848012 398.266563 239.438815 498.032736 239.438815c8.779423 0 15.962588 7.183164 15.962587 15.962588s-7.183164 15.962588-15.962587 15.962588c-82.207327 0-149.250195 67.042868-149.250195 148.452065 0 8.779423-7.183164 15.962588-15.962588 15.962588zM153.240842 444.558067H98.968044c-8.779423 0-15.962588-7.183164-15.962588-15.962588s7.183164-15.962588 15.962588-15.962587h54.272798c8.779423 0 15.962588 7.183164 15.962587 15.962587s-7.183164 15.962588-15.962587 15.962588zM925.031956 444.558067h-54.272798c-8.779423 0-15.962588-7.183164-15.962587-15.962588s7.183164-15.962588 15.962587-15.962587h54.272798c8.779423 0 15.962588 7.183164 15.962588 15.962587s-7.183164 15.962588-15.962588 15.962588zM512.399065 85.399844c-8.779423 0-15.962588-7.183164-15.962588-15.962588V15.962588c0-8.779423 7.183164-15.962588 15.962588-15.962588s15.962588 7.183164 15.962587 15.962588v54.272798c0 8.779423-7.183164 15.164458-15.962587 15.164458z" fill=""></path><path d="M234.650039 205.119252c-3.990647 0-7.981294-1.596259-11.173811-4.788777l-38.310211-38.31021c-6.385035-6.385035-6.385035-15.962588 0-22.347623 6.385035-6.385035 15.962588-6.385035 22.347623 0l38.31021 38.310211c6.385035 6.385035 6.385035 15.962588 0 22.347622-3.192518 3.192518-7.183164 4.788776-11.173811 4.788777z" fill=""></path><path d="M781.368667 205.119252c-3.990647 0-7.981294-1.596259-11.173811-4.788777-6.385035-6.385035-6.385035-15.962588 0-22.347622l38.31021-38.310211c6.385035-6.385035 15.962588-6.385035 22.347623 0s6.385035 15.962588 0 22.347623l-38.31021 38.31021c-3.192518 3.192518-7.183164 4.788776-11.173812 4.788777z" fill=""></path></g></svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="<%=data.length%>" data-kt-countup-prefix=""><%=data.length%></div>
                                        </div>
                                        <!--end::Number-->
                                        <!--begin::Label-->
                                        <div class="fw-semibold fs-6 text-gray-400">Mes notes d'idées</div>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Stat-->
                                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                        <!--begin::Number-->
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
                                            <span class="svg-icon svg-icon-3 svg-icon-success me-2">
                                               <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#9B735A;" d="M354.338,42.221H80.701c-14.168,0-25.653,11.485-25.653,25.653v359.148 c0,14.168,11.485,25.653,25.653,25.653h273.637c14.168,0,25.653-11.485,25.653-25.653V67.875 C379.992,53.707,368.506,42.221,354.338,42.221z"></path> <rect x="89.253" y="76.426" style="fill:#F1F4FB;" width="256.534" height="342.046"></rect> <path style="fill:#E4EAF8;" d="M345.787,409.921v-99.519c-49.005,11.598-85.512,55.522-85.512,108.07h76.96 C341.958,418.472,345.787,414.643,345.787,409.921z"></path> <path style="fill:#FFF082;" d="M268.827,25.119h-21.846c-5.925-10.181-16.833-17.102-29.461-17.102s-23.536,6.921-29.461,17.102 h-21.846c-9.446,0-17.102,7.656-17.102,17.102v34.205h136.818V42.221C285.929,32.775,278.273,25.119,268.827,25.119z"></path> <circle style="fill:#FFFFFF;" cx="371.441" cy="418.472" r="85.511"></circle> <g> <circle style="fill:#FFDC64;" cx="157.662" cy="161.937" r="17.102"></circle> <circle style="fill:#FFDC64;" cx="157.662" cy="332.96" r="17.102"></circle> <circle style="fill:#FFDC64;" cx="157.662" cy="247.449" r="17.102"></circle> </g> <path style="fill:#E4EAF8;" d="M385.805,451.626c-23.852-4.434-43.104-23.696-47.524-47.551c-1.475-7.959-1.341-15.679,0.107-22.925 c1.068-5.341-5.181-9.003-9.054-5.175c-12.837,12.696-19.962,31.145-17.138,51.188c3.643,25.855,24.696,46.908,50.551,50.551 c20.043,2.824,38.493-4.3,51.189-17.139c3.83-3.873,0.168-10.121-5.172-9.054C401.507,452.976,393.775,453.107,385.805,451.626z"></path> <path d="M251.724,444.66H80.701c-9.725,0-17.637-7.912-17.637-17.637V67.875c0-9.725,7.912-17.637,17.637-17.637h60.394v26.188 c0,4.427,3.589,8.017,8.017,8.017H285.93c4.427,0,8.017-3.589,8.017-8.017V50.238h60.391c9.725,0,17.637,7.912,17.637,17.637 v230.881c0,4.427,3.589,8.017,8.017,8.017c4.427,0,8.017-3.589,8.017-8.017V67.875c0-18.566-15.105-33.67-33.67-33.67h-61.71 c-3.354-9.93-12.752-17.102-23.8-17.102h-17.547C243.359,6.451,230.813,0,217.521,0c-13.292,0-25.839,6.451-33.76,17.102h-17.547 c-11.048,0-20.446,7.172-23.8,17.102H80.701c-18.566,0-33.67,15.105-33.67,33.67v359.148c0,18.566,15.105,33.67,33.67,33.67h171.023 c4.427,0,8.017-3.589,8.017-8.017C259.741,448.249,256.152,444.66,251.724,444.66z M166.214,33.136h21.846 c2.854,0,5.493-1.517,6.929-3.985c4.781-8.213,13.204-13.117,22.532-13.117c9.328,0,17.751,4.904,22.532,13.117 c1.436,2.467,4.075,3.985,6.929,3.985h21.846c4.999,0,9.067,4.059,9.085,9.055c0,0.011-0.001,0.02-0.001,0.031 c0,0.021,0.003,0.041,0.003,0.062v26.126H157.129V42.252c0-0.011,0.001-0.02,0.001-0.031c0-0.005-0.001-0.011-0.001-0.015 C157.138,37.203,161.209,33.136,166.214,33.136z"></path> <path d="M114.909,84.443c4.427,0,8.017-3.589,8.017-8.017s-3.589-8.017-8.017-8.017H89.253c-4.427,0-8.017,3.589-8.017,8.017 v342.046c0,4.427,3.589,8.017,8.017,8.017h162.47c4.427,0,8.017-3.589,8.017-8.017c0-4.427-3.589-8.017-8.017-8.017H97.269V84.443 H114.909z"></path> <path d="M345.787,306.77c4.427,0,8.017-3.589,8.017-8.017V76.426c0-4.427-3.589-8.017-8.017-8.017h-25.653 c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017h17.637v214.311C337.77,303.181,341.36,306.77,345.787,306.77z"></path> <path d="M294.48,171.023h-85.511c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017h85.511c4.427,0,8.017-3.589,8.017-8.017 S298.908,171.023,294.48,171.023z"></path> <path d="M208.969,152.852h59.858c4.427,0,8.017-3.589,8.017-8.017c0-4.427-3.589-8.017-8.017-8.017h-59.858 c-4.427,0-8.017,3.589-8.017,8.017C200.952,149.262,204.541,152.852,208.969,152.852z"></path> <path d="M379.457,415.152v-53.687c0-4.427-3.589-8.017-8.017-8.017c-4.427,0-8.017,3.589-8.017,8.017v57.007 c0,2.126,0.844,4.165,2.348,5.668l35.629,35.629c1.565,1.565,3.617,2.348,5.668,2.348s4.103-0.782,5.668-2.348 c3.131-3.131,3.131-8.207,0-11.337L379.457,415.152z"></path> <path d="M371.441,324.944c-51.572,0-93.528,41.956-93.528,93.528S319.869,512,371.441,512s93.528-41.956,93.528-93.528 S423.012,324.944,371.441,324.944z M371.441,495.967c-42.731,0-77.495-34.764-77.495-77.495s34.764-77.495,77.495-77.495 s77.495,34.764,77.495,77.495S414.172,495.967,371.441,495.967z"></path> <path d="M176.49,163.55c-3.831-2.217-8.736-0.909-10.954,2.924c-1.624,2.806-4.64,4.548-7.875,4.548 c-5.01,0-9.086-4.076-9.086-9.086s4.076-9.086,9.086-9.086c4.427,0,8.017-3.589,8.017-8.017c0-4.427-3.589-8.017-8.017-8.017 c-13.851,0-25.119,11.268-25.119,25.119c0,13.851,11.268,25.119,25.119,25.119c8.938,0,17.273-4.81,21.753-12.553 C181.632,170.671,180.322,165.767,176.49,163.55z"></path> <path d="M208.969,272.568h85.511c4.427,0,8.017-3.589,8.017-8.017c0-4.427-3.589-8.017-8.017-8.017h-85.511 c-4.427,0-8.017,3.589-8.017,8.017C200.952,268.979,204.541,272.568,208.969,272.568z"></path> <path d="M208.969,238.363h59.858c4.427,0,8.017-3.589,8.017-8.017s-3.589-8.017-8.017-8.017h-59.858 c-4.427,0-8.017,3.589-8.017,8.017S204.541,238.363,208.969,238.363z"></path> <path d="M157.662,238.363c4.427,0,8.017-3.589,8.017-8.017s-3.589-8.017-8.017-8.017c-13.851,0-25.119,11.268-25.119,25.119 c0,13.851,11.268,25.119,25.119,25.119c8.938,0,17.273-4.81,21.753-12.553c2.217-3.832,0.909-8.736-2.925-10.954 c-3.831-2.218-8.736-0.91-10.954,2.924c-1.624,2.806-4.64,4.548-7.875,4.548c-5.01,0-9.086-4.076-9.086-9.086 S152.652,238.363,157.662,238.363z"></path> <path d="M268.827,342.046h-59.858c-4.427,0-8.017,3.589-8.017,8.017c0,4.427,3.589,8.017,8.017,8.017h59.858 c4.427,0,8.017-3.589,8.017-8.017C276.843,345.635,273.254,342.046,268.827,342.046z"></path> <path d="M268.827,307.841h-59.858c-4.427,0-8.017,3.589-8.017,8.017c0,4.427,3.589,8.017,8.017,8.017h59.858 c4.427,0,8.017-3.589,8.017-8.017C276.843,311.431,273.254,307.841,268.827,307.841z"></path> <path d="M157.662,358.079c8.938,0,17.273-4.81,21.753-12.553c2.217-3.832,0.909-8.736-2.925-10.954 c-3.831-2.219-8.736-0.909-10.954,2.924c-1.624,2.806-4.64,4.548-7.875,4.548c-5.01,0-9.086-4.076-9.086-9.086 s4.076-9.086,9.086-9.086c4.427,0,8.017-3.589,8.017-8.017c0-4.427-3.589-8.017-8.017-8.017c-13.851,0-25.119,11.268-25.119,25.119 C132.543,346.81,143.811,358.079,157.662,358.079z"></path> <path d="M217.607,50.238c4.427,0,8.017-3.589,8.017-8.017s-3.589-8.017-8.017-8.017h-0.086c-4.427,0-7.974,3.589-7.974,8.017 S213.179,50.238,217.607,50.238z"></path> </g></svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="<%if(stat.en_attente){%><%=stat.en_attente%><%}else{%>0<%}%>" data-kt-countup-prefix=""><%if(stat.en_attente){%><%=stat.en_attente%><%}else{%>0<%}%></div>
                                        </div>
                                        <!--end::Number-->
                                        <!--begin::Label-->
                                        <div class="fw-semibold fs-6 text-gray-400">Attente</div>
                                        <!--end::Label-->
                                    </div>
                                    <!--begin::Stat-->
                                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                        <!--begin::Number-->
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr065.svg-->
                                            <span class="svg-icon svg-icon-3 svg-icon-danger me-2">
                                                <svg height="200px" width="200px" version="1.1" id="_x35_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <polygon style="fill:#94A580;" points="237.53,102.388 239.832,106.378 222.406,136.562 185.824,199.921 122.46,163.339 159.042,99.98 195.624,36.615 197.258,33.78 233.712,95.766 "></polygon> <polygon style="fill:#db0000;" points="381.765,91.691 381.692,92.27 371.037,216.288 257.747,163.303 278.84,151.199 247.6,97.055 243.758,90.385 224.333,57.333 190.556,0 300.657,0 304.426,6.524 316.023,26.602 360.672,103.868 381.33,91.907 "></polygon> <polygon style="fill:#94A580;" points="399.84,334.463 395.234,334.462 377.807,304.278 341.227,240.918 404.59,204.333 441.17,267.694 477.754,331.057 479.393,333.89 407.484,334.467 "></polygon> <polygon style="fill:#db0000;" points="336.953,440.363 449.404,440.359 456.943,440.364 512,345.002 407.131,345.844 399.432,345.839 336.947,345.838 336.95,321.5 234.457,393.101 336.958,464.706 "></polygon> <polygon style="fill:#94A580;" points="120.28,365.191 122.584,361.203 157.437,361.202 230.598,361.204 230.6,434.37 157.438,434.369 84.272,434.37 80.999,434.373 116.454,371.809 "></polygon> <polygon style="fill:#db0000;" points="162.941,317.183 141.848,305.006 110.608,359.15 106.767,365.818 59.508,449.318 55.087,457.074 38.416,428.226 24.282,403.801 0,361.688 3.769,355.164 60.016,257.748 38.923,245.644 143.95,196.5 152.213,192.659 "></polygon> </g> </g></svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="<%if(stat.refuse){ %> <%=stat.refuse%> <% }else{%>0<%}%>"><% if(stat.refuse){ %><%=stat.refuse%><%}else{%>0<%}%></div>
                                        </div>
                                        <!--end::Number-->
                                        <!--begin::Label-->
                                        <div class="fw-semibold fs-6 text-gray-400">Refusée avec recours</div>
                                        <!--end::Label-->
                                    </div>
                                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                        <!--begin::Number-->
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr065.svg-->
                                            <span class="svg-icon svg-icon-3 svg-icon-danger me-2">
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle style="fill:#D75A4A;" cx="25" cy="25" r="25"></circle> <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,34 25,25 34,16 "></polyline> <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;" points="16,16 25,25 34,34 "></polyline> </g></svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="<%if(stat.cloturer_refuse){ %> <%=stat.cloturer_refuse%> <% }else{%>0<%}%>"><% if(stat.cloturer_refuse){ %><%=stat.cloturer_refuse%><%}else{%>0<%}%></div>
                                        </div>
                                        <!--end::Number-->
                                        <!--begin::Label-->
                                        <div class="fw-semibold fs-6 text-gray-400">Refusée sans recours</div>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Stat-->
                                    <!--begin::Stat-->
                                   
                                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                        <!--begin::Number-->
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
                                            <span class="svg-icon svg-icon-3 svg-icon-success me-2">
                                                <svg height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 473.677 473.677" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#357180;" d="M0,236.84C0,106.026,106.036,0.002,236.835,0.002c130.807,0,236.842,106.028,236.842,236.838 c0,130.795-106.036,236.835-236.842,236.835C106.039,473.671,0,367.636,0,236.84z"></path> <g> <path style="fill:#369900;" d="M408.84,164.345c-9.88,0.022-19.756,0.049-29.636,0.075 c-22.217-49.815-65.828-85.797-120.912-94.428c-61.374-9.614-120.115,18.889-155.14,69.036 c-15.557,22.269,21.005,43.121,36.431,21.035c48.039-68.774,150.608-62.559,192.76,4.473c-9.125,0.022-18.253,0.045-27.377,0.067 c-2.554,0.004-4.368,1.144-5.49,2.745c-1.832,1.967-2.532,4.839-0.61,7.816c17.378,26.966,34.759,53.936,52.141,80.902 c2.921,4.532,9.226,4.495,12.12-0.045c17.243-27.052,34.49-54.104,51.733-81.16C417.714,170.388,413.956,164.334,408.84,164.345z"></path> <path style="fill:#369900;" d="M334.479,312.395c-48.039,68.786-150.6,62.548-192.76-4.476c9.125-0.022,18.253-0.045,27.377-0.067 c2.554-0.007,4.368-1.144,5.49-2.745c1.832-1.963,2.528-4.839,0.61-7.816c-17.374-26.97-34.756-53.936-52.133-80.902 c-2.917-4.532-9.226-4.495-12.12,0.045c-17.243,27.052-34.494,54.104-51.741,81.16c-2.853,4.476,0.905,10.531,6.021,10.519 c9.88-0.026,19.756-0.049,29.64-0.075c22.221,49.815,65.828,85.797,120.915,94.432c61.374,9.614,120.115-18.889,155.132-69.036 C386.466,311.157,349.901,290.309,334.479,312.395z"></path> </g> <path style="fill:#F7F7F7;" d="M214.865,238.089c0-12.146,9.839-21.985,21.977-21.985c12.139,0,21.977,9.839,21.977,21.985 c0,12.131-9.839,21.97-21.977,21.97C224.704,260.059,214.865,250.217,214.865,238.089z"></path> </g></svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="<%if(stat.recours){%><%=stat.recours%><%}else{%>0<%}%>" data-kt-countup-prefix=""><%if(stat.recours){%><%=stat.recours%><%}else{%>0<%}%></div>
                                        </div>
                                        <!--end::Number-->
                                        <!--begin::Label-->
                                        <div class="fw-semibold fs-6 text-gray-400">Recours</div>
                                        <!--end::Label-->
                                    </div>
                                    

                                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                                        <!--begin::Number-->
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
                                            <span class="svg-icon svg-icon-3 svg-icon-success me-2">
                                                <svg fill="#000000" viewBox="0 0 24 24" id="check-mark-square-2" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path id="primary" d="M22,9.24V20a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V4A2,2,0,0,1,4,2H18.76a1,1,0,0,1,.7,1.71L12,11.17,9.41,8.59A2,2,0,0,0,6,10a2,2,0,0,0,.59,1.42l4,4a2,2,0,0,0,2.83,0l6.88-6.88A1,1,0,0,1,22,9.24Z" style="fill: #167d08;"></path><path id="secondary" d="M12,15a1,1,0,0,1-.71-.29l-4-4A1,1,0,1,1,8.71,9.29L12,12.59l8.29-8.3a1,1,0,1,1,1.42,1.42l-9,9A1,1,0,0,1,12,15Z" style="fill: #aebec1;"></path></g></svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="<%if(stat.valide){%><%=stat.valide%><%}else{%>0<%}%>" data-kt-countup-prefix=""><%if(stat.valide){%><%=stat.valide%><%}else{%>0<%}%></div>
                                        </div>
                                        <!--end::Number-->
                                        <!--begin::Label-->
                                        <div class="fw-semibold fs-6 text-gray-400">Acceptée</div>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Stat-->
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Wrapper-->
                            <!--
                            <div class="d-flex align-items-center w-200px w-sm-300px flex-column mt-3">
                                <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                                    <span class="fw-semibold fs-6 text-gray-400">Progression de vos actions</span>
                                    <span class="fw-bold fs-6">50%</span>
                                </div>
                                <div class="h-5px mx-3 w-100 bg-light mb-3">
                                    <div class="bg-success rounded h-5px" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            -->
                        </div>
                        <!--end::Stats-->
                    </div>
                    <!--end::Info-->
                </div>
                <!--end::Details-->
                <!--begin::Navs-->
                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                    <!--begin::Nav item-->
                    <li class="nav-item mt-2">
                        <a class="nav-link text-active-success ms-0 me-10 py-5 <% if(saccount=='ideas'){%>active<%}%>" href="/eligi/myideas">Mes notes d'idée</a>
                    </li>
                     <!--begin::Nav item-->
                     <li class="nav-item mt-2">
                        <a class="nav-link text-active-success ms-0 me-10 py-5 <% if(saccount=='order'){%>active<%}%>" href="/eligi/order">Nouvelle note d'idée</a>
                    </li>
                    <!--end::Nav item-->
                    <% if(saccount=='note'){%>
                    <li class="nav-item mt-2">
                        <a class="nav-link text-active-success ms-0 me-10 py-5 active" href="">Détail note</a>
                    </li>
                    <%}%>
                     <!--end::Nav item-->
                     <% if(saccount=='action'){%>
                     <li class="nav-item mt-2">
                        <a class="nav-link text-active-success ms-0 me-10 py-5 active" href="">Détail action</a>
                    </li>
                    <%}%>
                    <!--begin::Nav item-->
                    <!-- <li class="nav-item mt-2">
                        <a class="nav-link text-active-success ms-0 me-10 py-5 <% if(saccount=='pay'){%>active<%}%>" href="/eligi/pay">Mes paiements</a>
                    </li> -->
                    <!--end::Nav item-->
                    <!--begin::Nav item-->
                    
                    <!--end::Nav item-->
                    <!--begin::Nav item-->
                    <li class="nav-item mt-2">
                        <a class="nav-link text-active-success ms-0 me-10 py-5 <% if(saccount=='param'){%>active<%}%>" href="/eligi/param">Paramètre</a>
                    </li>
                    <!--end::Nav item-->
                   
                    <!--end::Nav item-->
                </ul>
                <!--begin::Navs-->
            </div>
        </div>
    </div>
</div>