<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Carte des projets carbone | Registre carbone national Côte d'Ivoire
    </title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link rel="icon" href="./assets/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
    />

    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
    />
    <style>
      #map {
        height: 600px;
      }
      .search-bar {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        width: 350px;
        background-color: #f4f5fa;
        color: #ecf0f1;
        padding: 10px;
        border-radius: 5px;
      }

      .sidebar.show {
        right: 0px;
      }
      .sidebar .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
      }

      .avertissement .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
      }

      .logo_add {
        width: 50%;
        position: relative;
        left: 40px;
      }

      .logo_min {
        width: 50%;
        position: center;
      }

      .sidebar {
        width: 300px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0px;
        background: #fff;
        color: #2c3e50;
        z-index: 10025;
        transition: right 0.3s;
        overflow-y: auto;
      }

      .bar_detail {
        background: #f4f5fa;
        position: fixed;
        transition: left 0.3s, width 0.3s;
        z-index: 1000;
        width: calc(100% - 300px); /* La largeur par défaut sans sidebar */
        height: 500px;
        overflow-x: auto;
        bottom: -300;
        left: 0; /* Aligner à droite */
      }

      .bar_detail2 {
        background: #f4f5fa;
        position: fixed;
        transition: left 0.3s, width 0.3s;
        z-index: 1005;
        width: calc(100% - 300px); /* La largeur par défaut sans sidebar */
        height: 500px;
        overflow-x: auto;
        bottom: -300;
        left: 0; /* Aligner à droite */
      }
      .avertissement {
        position: absolute;
        top: 5px;
        left: 20%;
        transform: translateX(-50%);
        height: 130px;
        z-index: 1000;
        width: 190px;
        background-color: #f4f5fa;
        color: #ecf0f1;
        padding: 10px;
        border-radius: 5px;
      }

      .bar_detail.show {
        bottom: 0px;
      }
      .bar_detail2.show {
        bottom: 0px;
      }
      .card {
        border-radius: 10px;
      }

      .bar_detail .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
      }

      .bar_detail2 .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
      }

      .sidebar .icon_menu {
        display: none;
      }

      .title-icon svg {
        margin-right: 10px;
      }
      .cert-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .cert-info img {
        max-width: 100px;
        margin-bottom: 10px;
      }
      .cert-name {
        font-weight: bold;
      }

      .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        color: rgba(0, 0, 0, 0.85);
        background-color: #f4f5fa;
      }
      .list-group-item-action:focus,
      .list-group-item-action:hover {
        background: linear-gradient(90deg, #f7931d, rgba(0, 165, 79, 0.94));
        border-bottom-left-radius: 22px;
        border-top-left-radius: 22px;
        color: white;
      }
      .ui-autocomplete {
        z-index: 1200;
        height: 200px;
        overflow-y: auto;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div id="map"></div>
      <div class="avertissement">
        <div class="close-btn" style="color: black">&times;</div>
        <div class="row">
          <div class="col-md-2">
            <i
              class="fa-solid fa-triangle-exclamation"
              style="color: rgba(255, 0, 0, 0.797)"
            ></i>
          </div>
          <div class="col-md-4">
            <h6 style="color: rgba(231, 29, 29, 0.863)" class="mt-1">
              Avertissement
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <center>
              <h4 style="color: rgb(27, 27, 27)">
                <%=list_projet_intersection.length%>
              </h4>
            </center>
            <span style="color: black; font-size: 11px"
              >Superposition de projet carbone </span
            ><br />
            <span
              style="
                color: rgba(9, 9, 179, 0.822);
                font-size: 9px;
                cursor: pointer;
              "
              class="showmore"
              >En savoir plus</span
            >
          </div>
        </div>
      </div>
      <div class="search-bar input-group mb-3">
        <input
          type="text"
          class="form-control autocomplete-input"
          placeholder="Rechercher un projet carbone"
          id="search_carbon"
          autocomplete="off"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div
        id="notificationModal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" id="modal_superposition" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Avertissement</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                <i class="fas fa-exclamation-triangle"></i> Superposition de
                projets détectée.
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Fermer
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar" id="sidebar" style="background-color: #f4f5fa">
        <div class="close-btn">&times;</div>

        <div class="p-4 menu_lite" id="menu_lite">
          <div>
            <img
              src="./assets/Logo_registre.png"
              class="logo_add"
              alt=""
              srcset=""
            />
          </div>

          <div
            class="list-group list-group-flush"
            style="background-color: #f4f5fa"
          >
            <a href="https://ci.registrecarbone.skyvisionafrica.com/dashboard" class="list-group-item list-group-item-action">
              <i class="fas fa-tachometer-alt"></i> Tableau de bord
            </a>
            <a
              href="https://ci.registrecarbone.skyvisionafrica.com/IdeaNoteManagement/viewAll"
              class="list-group-item list-group-item-action"
            >
              <i class="fas fa-lightbulb"></i> Notes d'idées
            </a>
            <a
              href="https://ci.registrecarbone.skyvisionafrica.com/programmeManagement/viewAll"
              class="list-group-item list-group-item-action"
            >
              <i class="fas fa-tasks"></i> Projets
            </a>
            <a
              href="https://ci.registrecarbone.skyvisionafrica.com/ndcManagement/viewAll"
              class="list-group-item list-group-item-action"
            >
              <i class="fas fa-project-diagram"></i> Activités de projet
            </a>
            <a
              href="https://ci.registrecarbone.skyvisionafrica.com/investmentManagement/viewAll"
              class="list-group-item list-group-item-action"
            >
              <i class="fas fa-dollar-sign"></i> Financement de projet
            </a>

            <a
              href="https://api.registrecarbone.skyvisionafrica.com/maps"
              class="list-group-item list-group-item-action"
            >
              <i class="fas fa-map"></i> Cartographie des Projets
            </a>

            <a
              href="https://ci.registrecarbone.skyvisionafrica.com/creditTransfers/viewAll"
              class="list-group-item list-group-item-action"
            >
              <i class="fas fa-exchange-alt"></i> Transferts
            </a>
            <a
              href="https://ci.registrecarbone.skyvisionafrica.com/companyManagement/viewAll"
              class="list-group-item list-group-item-action"
            >
              <i class="fas fa-building"></i> Organisations
            </a>
            <a
              href="https://ci.registrecarbone.skyvisionafrica.com/userManagement/viewAll"
              class="list-group-item list-group-item-action"
            >
              <i class="fas fa-users"></i> Utilisateurs
            </a>
          </div>
        </div>
        <div class="icon_menu" id="icon_menu">
          <center>
            <div>
              <img
                src="./assets/min_logo.png"
                class="logo_min"
                alt=""
                srcset=""
              />
            </div>
            <div
              class="list-group list-group-flush"
              style="background-color: #f4f5fa"
            >
              <a
                href="/dashboard"
                class="list-group-item list-group-item-action"
              >
                <i class="fas fa-tachometer-alt"></i>
              </a>
              <a
                href="/IdeaNoteManagement/viewAll"
                class="list-group-item list-group-item-action"
              >
                <i class="fas fa-lightbulb"></i>
              </a>
              <a
                href="/programmeManagement/viewAll"
                class="list-group-item list-group-item-action"
              >
                <i class="fas fa-tasks"></i>
              </a>
              <a
                href="/ndcManagement/viewAll"
                class="list-group-item list-group-item-action"
              >
                <i class="fas fa-project-diagram"></i>
              </a>
              <a
                href="/investmentManagement/viewAll"
                class="list-group-item list-group-item-action"
              >
                <i class="fas fa-dollar-sign"></i>
              </a>

              <a
                href="/programmeManagement/viewAll"
                class="list-group-item list-group-item-action"
              >
                <i class="fas fa-map"></i>
              </a>

              <a
                href="/creditTransfers/viewAll"
                class="list-group-item list-group-item-action"
              >
                <i class="fas fa-exchange-alt"></i>
              </a>
              <a
                href="/companyManagement/viewAll"
                class="list-group-item list-group-item-action"
              >
                <i class="fas fa-building"></i>
              </a>
              <a
                href="/userManagement/viewAll"
                class="list-group-item list-group-item-action"
              >
                <i class="fas fa-users"></i>
              </a>
            </div>
          </center>
        </div>
      </div>
    </div>

    <div class="bar_detail" id="bar_detail">
      <div class="close-btn">&times;</div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mt-4">
              <div class="card-body">
                <div class="info-view">
                  <div class="title">
                    <span class="title-icon">
                      <span class="b-icon">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 16 16"
                          width="1em"
                          height="1em"
                          fill="currentColor"
                        >
                          <path
                            d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"
                          ></path>
                          <path
                            d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z"
                          ></path>
                        </svg>
                      </span>
                    </span>
                    <span class="title-text" style="font-weight: bold"
                      >Propriétaire du Projet</span
                    >
                  </div>
                  <div class="centered-card">
                    <div class="company-info text-center">
                      <img
                        alt="company logo"
                        style="width: 50%"
                        src="https://api.national.skyvisionafrica.com/profile_images/740_1718342592240.png"
                        class="img-fluid"
                      />
                      <div class="programme-name">Green carbon</div>

                      <div class="d-flex justify-content-between">
                        <div>Propriété</div>
                        <div>100%</div>
                      </div>
                      <div class="progress">
                        <div
                          class="progress-bar progress-bar-striped progress-bar-animated"
                          role="progressbar"
                          style="
                            width: 100%;
                            height: 17px;
                            color: #00a54f;
                            background-color: #00a54f;
                          "
                        ></div>
                      </div>
                      <div class="mg-top-1">
                        <span
                          class="badge badge-success"
                          style="
                            color: #00a54f;
                            background-color: rgba(185, 226, 244, 0.4);
                          "
                          >Actif</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card border mt-4">
              <div class="card-body">
                <div class="info-view">
                  <div class="title">
                    <span class="title-icon">
                      <span
                        role="img"
                        aria-label="bulb"
                        class="anticon anticon-bulb"
                      >
                        <svg
                          viewBox="64 64 896 896"
                          focusable="false"
                          data-icon="bulb"
                          width="1em"
                          height="1em"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path
                            d="M632 888H392c-4.4 0-8 3.6-8 8v32c0 17.7 14.3 32 32 32h192c17.7 0 32-14.3 32-32v-32c0-4.4-3.6-8-8-8zM512 64c-181.1 0-328 146.9-328 328 0 121.4 66 227.4 164 284.1V792c0 17.7 14.3 32 32 32h264c17.7 0 32-14.3 32-32V676.1c98-56.7 164-162.7 164-284.1 0-181.1-146.9-328-328-328zm127.9 549.8L604 634.6V752H420V634.6l-35.9-20.8C305.4 568.3 256 484.5 256 392c0-141.4 114.6-256 256-256s256 114.6 256 256c0 92.5-49.4 176.3-128.1 221.8z"
                          ></path>
                        </svg>
                      </span>
                    </span>
                    <span class="title-text" style="font-weight: bold"
                      >Général</span
                    >
                  </div>
                  <div class="field">
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Nom du Projet
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span>PROJET REFORESTATION GREEN CARBON</span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Numéro de Série d'Émission de Crédit
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span>CI-ITMO-14-031-2024-0-4446-4945</span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Statut Actuel
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span class="badge bg-success">Authorised</span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Type de Demandeur
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span>
                          <span
                            class="role-icon"
                            style="
                              background-color: rgba(254, 241, 173, 0.55);
                              color: rgb(255, 160, 112);
                            "
                          >
                            <span
                              role="img"
                              aria-label="experiment"
                              class="anticon anticon-experiment"
                            >
                              <svg
                                viewBox="64 64 896 896"
                                focusable="false"
                                data-icon="experiment"
                                width="1em"
                                height="1em"
                                fill="currentColor"
                                aria-hidden="true"
                              >
                                <path
                                  d="M512 472a40 40 0 1080 0 40 40 0 10-80 0zm367 352.9L696.3 352V178H768v-68H256v68h71.7v174L145 824.9c-2.8 7.4-4.3 15.2-4.3 23.1 0 35.3 28.7 64 64 64h614.6c7.9 0 15.7-1.5 23.1-4.3 33-12.7 49.4-49.8 36.6-82.8zM395.7 364.7V180h232.6v184.7L719.2 600c-20.7-5.3-42.1-8-63.9-8-61.2 0-119.2 21.5-165.3 60a188.78 188.78 0 01-121.3 43.9c-32.7 0-64.1-8.3-91.8-23.7l118.8-307.5zM210.5 844l41.7-107.8c35.7 18.1 75.4 27.8 116.6 27.8 61.2 0 119.2-21.5 165.3-60 33.9-28.2 76.3-43.9 121.3-43.9 35 0 68.4 9.5 97.6 27.1L813.5 844h-603z"
                                ></path>
                              </svg>
                            </span>
                          </span>
                          <span>Project Developer</span>
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Secteur
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span class="badge bg-success">Forestry</span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Portée Sectorielle
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span>Afforestation and Reforestation</span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Date de Début du Projet
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span>17 June 2024</span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Date de Fin du Projet
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span>30 June 2032</span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Admissibilité du Pays Acheteur
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span>MA</span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Numéro d'Enregistrement de l'Évaluation Environnementale
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span>00000987</span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Réductions d'Émissions Attendues
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span>500.00</span>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 col-md-6 field-key"
                        style="font-family: Inter; color: rgba(58, 53, 65, 0.6)"
                      >
                        Réductions d'Émissions Réalisées
                      </div>
                      <div class="col-12 col-md-6 field-value">
                        <span>100.00</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mt-4">
              <div class="card-body">
                <span class="mr-2">
                  <svg
                    viewBox="64 64 896 896"
                    focusable="false"
                    data-icon="block"
                    width="1em"
                    height="1em"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      d="M856 376H648V168c0-8.8-7.2-16-16-16H168c-8.8 0-16 7.2-16 16v464c0 8.8 7.2 16 16 16h208v208c0 8.8 7.2 16 16 16h464c8.8 0 16-7.2 16-16V392c0-8.8-7.2-16-16-16zm-480 16v188H220V220h360v156H392c-8.8 0-16 7.2-16 16zm204 52v136H444V444h136zm224 360H444V648h188c8.8 0 16-7.2 16-16V444h156v360z"
                    ></path>
                  </svg>
                </span>
                <span class="font-weight-bold">Crédits</span>
                <div
                  class="chart-container"
                  style="position: relative; height: 40vh; width: 80vw"
                >
                  <canvas id="creditChart"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mt-4">
              <div class="card-body">
                <div class="info-view">
                  <div class="title d-flex align-items-center">
                    <span class="title-icon">
                      <svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="block"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M856 376H648V168c0-8.8-7.2-16-16-16H168c-8.8 0-16 7.2-16 16v464c0 8.8 7.2 16 16 16h208v208c0 8.8 7.2 16 16 16h464c8.8 0 16-7.2 16-16V392c0-8.8-7.2-16-16-16zm-480 16v188H220V220h360v156H392c-8.8 0-16 7.2-16 16zm204 52v136H444V444h136zm224 360H444V648h188c8.8 0 16-7.2 16-16V444h156v360z"
                        ></path>
                      </svg>
                    </span>
                    <span class="title-text" style="font-weight: bold"
                      >Réductions d'Émissions</span
                    >
                  </div>
                  <div
                    class="chart-container"
                    style="position: relative; height: 40vh; width: 80vw"
                  >
                    <canvas id="creditChart2"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mt-5 border-primary">
              <div class="card-body">
                <div class="info-view">
                  <div class="title d-flex align-items-center">
                    <span class="title-icon">
                      <svg
                        viewBox="0 0 1024 1024"
                        focusable="false"
                        data-icon="safety"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M512 64L128 192v384c0 212.1 171.9 384 384 384s384-171.9 384-384V192L512 64zm312 512c0 172.3-139.7 312-312 312S200 748.3 200 576V246l312-110 312 110v330z"
                        ></path>
                        <path
                          d="M378.4 475.1a35.91 35.91 0 00-50.9 0 35.91 35.91 0 000 50.9l129.4 129.4 2.1 2.1a33.98 33.98 0 0048.1 0L730.6 434a33.98 33.98 0 000-48.1l-2.8-2.8a33.98 33.98 0 00-48.1 0L483 579.7 378.4 475.1z"
                        ></path>
                      </svg>
                    </span>
                    <span class="title-text" style="font-weight: bold"
                      >Détails de Certification</span
                    >
                  </div>
                  <div class="cert-content mt-4">
                    <div class="cert-info text-center">
                      <img
                        alt="certifier logo"
                        src="https://api.national.skyvisionafrica.com/profile_images/741_1718343380047.png"
                      />
                      <div class="cert-name">EBUGROUP CERTIFICATOR</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 container"></div>
        </div>
      </div>
    </div>

    <div class="bar_detail2" id="bar_detail2">
      <div class="close-btn">&times;</div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card mt-4">
              <div class="card-body">
                <h4>
                  <span class="title-icon">
                    <svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="block"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M856 376H648V168c0-8.8-7.2-16-16-16H168c-8.8 0-16 7.2-16 16v464c0 8.8 7.2 16 16 16h208v208c0 8.8 7.2 16 16 16h464c8.8 0 16-7.2 16-16V392c0-8.8-7.2-16-16-16zm-480 16v188H220V220h360v156H392c-8.8 0-16 7.2-16 16zm204 52v136H444V444h136zm224 360H444V648h188c8.8 0 16-7.2 16-16V444h156v360z"
                      ></path>
                    </svg>
                  </span>
                  Projets carbone superposés
                </h4>
                <br />
                <table id="list_projet" class="display" style="width: 100%">
                  <thead>
                    <tr>
                      <th style="width: 120px">Développeur 1</th>
                      <th>Intitulé du projet 1</th>
                      <th style="width: 120px">Développeur 2</th>
                      <th>Intitulé du projet 2</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%list_projet_intersection.forEach(elt1 => { %>
                    <tr>
                      <td>
                        <%elt1.projet1.company.forEach(elt2 => { %>
                        <img
                          height="20"
                          width="20"
                          src="<%=elt2.logo%>"
                          alt=""
                          srcset=""
                        />
                        <%})%> <br />
                        <%elt1.projet1.company.forEach(elt3 => { %>
                        <%=elt3.name%>, <%})%>
                      </td>
                      <td><%=elt1.projet1.title%>(<%=elt1.projet1.sector%>)</td>
                      <td>
                        <%elt1.projet2.company.forEach(elt2 => { %>
                        <img
                          height="20"
                          width="20"
                          src="<%=elt2.logo%>"
                          alt=""
                          srcset=""
                        />
                        <%})%> <br />
                        <%elt1.projet2.company.forEach(elt3 => { %>
                        <%=elt3.name%>, <%})%>
                      </td>
                      <td><%=elt1.projet2.title%>(<%=elt1.projet2.sector%>)</td>
                      <td style="width: 80px">
                       <% 
  let poly1 = [];
  try {
    let projetData = JSON.parse(elt1.projet2.polygoneProjet);
    if (Array.isArray(projetData) && projetData.length > 0 && projetData[0].Polygone) {
      poly1 = projetData[0].Polygone;
    }
  } catch (e) {
    poly1 = []; // Si une erreur survient, on initialise simplement poly1 avec un tableau vide
  }
%>                        <a
                          onclick="gotoprojectmaps2(<%= JSON.stringify(poly1) %>)"
                          ><center>
                            <i
                              class="fas fa-eye"
                              style="font-size: 20px; cursor: pointer"
                            ></i></center
                        ></a>
                      </td>
                    </tr>
                    <%}) %>
                    <!-- Plus de lignes ici -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/axios.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
      async function getprojet_intersection() {
        const list_projet = await axios.post("/maps/getprojetIntersection");
        console.log(list_projet.data);
      }
      getprojet_intersection();
    </script>
    <script>
      //Definir la carte globalement
      var map = {};
      // LES REQUETES POUR ENVOYER LA DATA
      $(document).ready(function () {
        var currentPage = 1;
        var pageSize = 10; // Nombre d'éléments par page

        $("#search_carbon")
          .autocomplete({
            source: function (request, response) {
              $.ajax({
                type: "POST",
                url: "/maps/search_projets",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                  term: request.term,
                  page: currentPage,
                  pageSize: pageSize,
                }),
                success: function (data) {
                  console.log(data);
                  console.log("je suis ici");
                  response(data); // Supposons que 'results' contient les éléments à afficher
                },
              });
            },
            minLength: 2, // Nombre de caractères minimum avant de lancer l'autocomplétion
            select: function (event, ui) {
              // Action à effectuer lors de la sélection d'un élément
              poly1 = JSON.parse(ui.item.polygoneProjet)[0];
              var polygone1 = poly1.Polygone;
              console.log(polygone1);
              gotoprojectmaps(polygone1, map);
            },
          })
          .data("ui-autocomplete")._renderItem = function (ul, item) {
          console.log("Rendering item:", item);
          var listItem = $("<li>")
            .data("ui-autocomplete-item", item)
            .append(
              $(`<div style="width:280px;">`).append(
                $(`<img>`).attr({
                  src: item.company[0].logo,
                  style: "width: 20px; height: 20px;",
                }),
                $(
                  `<span style="font-size:12px;font-weight:bold;vertical-align: middle; ">`
                ).text(item.title)
              )
            )
            .appendTo(ul);
          return listItem;
        };

        // Optionnel: Gérer la pagination logic
        $(document).on("scroll", function () {
          if (
            $(document).height() - $(window).height() <=
            $(window).scrollTop() + 50
          ) {
            currentPage++;
            $("#search_carbon").autocomplete("search");
          }
        });
      });

      //Fonction pour naviguer vers un projet
    </script>
    <script>
      function gotoprojectmaps2(polygon_data) {
        // var polygon = L.polygon(polygon_data);

        var geoJsonData = {
          type: "FeatureCollection",
          features: [],
        };

        var Coords = polygon_data[0];

        var feature = {
          type: "Feature",
          geometry: {
            type: "Polygon",
            coordinates: [Coords],
          },
          properties: {
            id: "1",
            name: "2",
          },
        };

        geoJsonData.features.push(feature);
        console.log(geoJsonData);
        var geojsonLayer = L.geoJSON(geoJsonData);
        map.fitBounds(geojsonLayer.getBounds());
        $("#bar_detail2").removeClass("show");
        /* setTimeout(function () {
          map.setZoom(map.getZoom() - ); // Zoom out d'un niveau après ajustement
        }, 1000);
        */
      }

      function gotoprojectmaps(polygon_data, map) {
        // var polygon = L.polygon(polygon_data);

        var geoJsonData = {
          type: "FeatureCollection",
          features: [],
        };

        var Coords = polygon_data[0];

        var feature = {
          type: "Feature",
          geometry: {
            type: "Polygon",
            coordinates: [Coords],
          },
          properties: {
            id: "1",
            name: "2",
          },
        };

        geoJsonData.features.push(feature);
        console.log(geoJsonData);
        var geojsonLayer = L.geoJSON(geoJsonData);
        map.fitBounds(geojsonLayer.getBounds());
        /* setTimeout(function () {
          map.setZoom(map.getZoom() - ); // Zoom out d'un niveau après ajustement
        }, 1000);
        */
      }

      $(document).ready(function () {
        $("#list_projet").DataTable({
          language: {
            url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/fr_fr.json",
          },
        });
      });
    </script>

    <script>
      var ctx = document.getElementById("creditChart2").getContext("2d");
      var creditChart = new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: ["Achieved", "Pending"],
          datasets: [
            {
              label: "Crédits",
              data: [100, 400],
              backgroundColor: [
                "rgba(179, 179, 255, 1)",
                "rgba(224, 224, 235, 1)",
              ],
              borderColor: ["rgba(179, 179, 255, 1)", "rgba(224, 224, 235, 1)"],
              borderWidth: 1,
            },
          ],
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: "bottom",
            },
          },
        },
      });
    </script>
    <script>
      var ctx = document.getElementById("creditChart").getContext("2d");
      var creditChart = new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: ["Authorised", "Issued", "Transferred", "Retired", "Frozen"],
          datasets: [
            {
              label: "Crédits",
              data: [400, 20, 20, 60, 0],
              backgroundColor: [
                "rgba(106, 205, 255, 1)",
                "rgba(210, 253, 187, 1)",
                "rgba(205, 205, 205, 1)",
                "rgba(255, 129, 131, 1)",
                "rgba(183, 164, 254, 1)",
              ],
              borderColor: [
                "rgba(106, 205, 255, 1)",
                "rgba(210, 253, 187, 1)",
                "rgba(205, 205, 205, 1)",
                "rgba(255, 129, 131, 1)",
                "rgba(183, 164, 254, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: "bottom",
            },
            title: {
              display: true,
              text: "Crédits",
            },
          },
        },
      });
    </script>

    <script>
      function openInNewTab(url) {
        window.open(url, "_blank").focus();
      }

      async function getprojet() {
        const list_projet = await axios.post("/maps/projets");
        console.log(list_projet.data);

        // Chunking des données pour ajouter par lots
        var batchSize = 1000; // Taille du lot à traiter à la fois
        for (var i = 0; i < list_projet.data.length; i += batchSize) {
          var batch = list_projet.data.slice(i, i + batchSize);
          addProjectsToMap(batch);
        }
      }

      console.log(getprojet());

      // Initialisation de la carte Leaflet
      map = L.map("map").setView([7.54, -5.55], 7);
      // Fonction pour calculer le centroïde d'un polygone

      function calculateCentroid(coords) {
        var latSum = 0;
        var lngSum = 0;
        coords.forEach(function (coord) {
          latSum += coord[0];
          lngSum += coord[1];
        });
        return [latSum / coords.length, lngSum / coords.length];
      }

      function addProjectsToMap(projects) {
        var geoJsonData = {
          type: "FeatureCollection",
          features: [],
        };

        // Convertir chaque projet en GeoJSON feature
        projects.forEach(function (project) {
          if (project.polygoneProjet != null) {
            var _projet = JSON.parse(project.polygoneProjet);
            console.log(_projet);
            for (let k = 0; k < _projet.length; k++) {
              console.log(_projet[0]);
              console.log(_projet[1]);
              // var invertedCoords = ensureLatLngOrder(_projet[k].Polygone);
              var Coords = _projet[k].Polygone[0];

              var feature = {
                type: "Feature",
                geometry: {
                  type: "Polygon",
                  coordinates: [Coords],
                },
                properties: {
                  id: project.programmeId,
                  name: project.title,
                },
              };

              geoJsonData.features.push(feature);
            }
          }
        });

        // Ajouter GeoJSON à la carte en utilisant L.geoJSON
        var geoJsonLayer = L.geoJSON(geoJsonData, {
          onEachFeature: function (feature, layer) {
            var popupContent =
              "<div class='custom-popup'><h3>" +
              feature.properties.name +
              "</h3><img src='url_vers_le_logo' alt='Logo'></div>";

            //layer.bindPopup("Bonjour");
            layer.bindTooltip(feature.properties.name);
            layer.on("click", function (e) {
              var projectId = feature.properties.id;
              var projectName = feature.properties.name;
              openInNewTab(
                "https://ci.registrecarbone.skyvisionafrica.com/programmeManagement/view/" +
                  projectId
              );
              //ci.registrecarbone.skyvisionafrica.com/programmeManagement/view/038
              // Exemple d'affichage dans la barre latérale
              // https: $("#bar_detail").html("<h3>" + projectName + "</h3>");
              //$("#bar_detail").addClass("show");
            });
          },
        }).addTo(map);

        console.log("GeoJSON Layer:", geoJsonLayer); // Vérifier si la couche GeoJSON est correctement ajoutée à la carte
        console.log("GeoJSON Data:", geoJsonData);
      }

      // Ajout des couches de fond (vue satellite et vue street map)
      var satellite = L.tileLayer(
        "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{x}/{y}",
        {
          attribution: "&copy; Esri &mdash; Sources: Esri, USGS, NOAA",
        }
      ).addTo(map);

      var streetMap = L.tileLayer(
        "https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png",
        {
          attribution: "&copy; OpenStreetMap contributors",
        }
      );

      // Control pour switcher entre les vues
      var baseMaps = {
        Satellite: satellite,
        "Street Map": streetMap,
      };
      //L.control.layers(baseMaps).addTo(map);
      L.control.layers(baseMaps, {}, { position: "topleft" }).addTo(map);

      // Fonction pour inverser les coordonnées en [latitude, longitude] si elles sont en [longitude, latitude]
      function ensureLatLngOrder(coords) {
        return coords.map(function (coord) {
          // Inverse les coordonnées si la latitude (coord[1]) est supérieure à 90 ou inférieure à -90
          if (Math.abs(coord[1]) > 90) {
            return [coord[1], coord[0]];
          }
          return coord;
        });
      }

      var coords = [
        [-5.279103333333334, 7.20286],
        [-5.279103333333334, 7.20286],
        [-5.279031666666667, 7.202893333333333],
        [-5.278975000000001, 7.202908333333332],
        [-5.278919999999999, 7.202933333333334],
        [-5.278858333333333, 7.202961666666666],
        [-5.278788333333334, 7.2029733333333334],
        [-5.278788333333334, 7.203006666666666],
        [-5.278855000000001, 7.202991666666666],
        [-5.278918333333333, 7.2029733333333334],
        [-5.278998333333334, 7.202956666666667],
        [-5.279053333333334, 7.202938333333333],
        [-5.279118333333334, 7.202913333333333],
        [-5.279188333333334, 7.202893333333333],
        [-5.2792449999999995, 7.202881666666667],
        [-5.279301666666667, 7.202866666666667],
        [-5.279378333333333, 7.2028533333333336],
        [-5.279428333333334, 7.2028300000000005],
        [-5.27949, 7.202801666666667],
        [-5.279554999999999, 7.202776666666667],
        [-5.279606666666666, 7.2027600000000005],
        [-5.279659999999999, 7.202753333333334],
        [-5.279735, 7.202728333333332],
        [-5.2798, 7.202716666666666],
        [-5.2798750000000005, 7.202703333333333],
        [-5.279923333333333, 7.202691666666667],
        [-5.279999999999999, 7.202685000000001],
        [-5.2800616666666675, 7.20267],
        [-5.2801133333333325, 7.202651666666666],
        [-5.280186666666666, 7.2026216666666665],
        [-5.280228333333334, 7.202584999999999],
        [-5.2802783333333325, 7.202539999999999],
        [-5.280336666666667, 7.2025],
        [-5.280388333333334, 7.202466666666667],
        [-5.280444999999999, 7.202426666666666],
        [-5.280493333333334, 7.202393333333333],
        [-5.28054, 7.202353333333334],
        [-5.2805333333333335, 7.20227],
        [-5.280498333333332, 7.202216666666668],
        [-5.280478333333334, 7.20216],
        [-5.280455000000001, 7.202093333333333],
        [-5.280408333333332, 7.202093333333333],
        [-5.280371666666667, 7.202156666666667],
        [-5.280336666666667, 7.202206666666666],
        [-5.280293333333333, 7.202258333333333],
        [-5.280263333333333, 7.20231],
        [-5.280228333333334, 7.2023600000000005],
        [-5.280178333333334, 7.2024116666666655],
        [-5.280138333333334, 7.202463333333332],
        [-5.280071666666667, 7.202506666666666],
        [-5.280006666666666, 7.202535],
        [-5.27996, 7.202558333333333],
        [-5.279894999999999, 7.202586666666667],
        [-5.2798333333333325, 7.202618333333334],
        [-5.279785, 7.202640000000001],
        [-5.279738333333333, 7.202648333333333],
        [-5.279685000000001, 7.2026666666666666],
        [-5.279626666666667, 7.202688333333333],
        [-5.2795733333333335, 7.202706666666668],
        [-5.279516666666666, 7.202715],
        [-5.279448333333333, 7.2027366666666675],
        [-5.2793883333333325, 7.202763333333333],
        [-5.279333333333333, 7.2027816666666675],
        [-5.279271666666667, 7.202796666666668],
        [-5.279214999999999, 7.202820000000001],
        [-5.279154999999999, 7.202835000000001],
        [-5.279105, 7.202865000000001],
        [-5.279101666666666, 7.202868333333333],
        [-5.279103333333334, 7.20286],
      ];

      var latLngCoords = ensureLatLngOrder(coords);

      // Ajout d'un projet avec un polygone
      var projectPolygon = L.polygon([latLngCoords]).addTo(map);

      // Gestion du clic sur le projet
      projectPolygon.on("click", function () {
        //$("#sidebar").addClass("show");
        $("#bar_detail").addClass("show");
      });

      /*
        var ctx = document.getElementById('statusChart').getContext('2d');
        var statusChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Authorised', 'Issued', 'Transferred', 'Retired', 'Frozen'],
                datasets: [{
                    data: [60, 20, 10, 5, 5],
                    backgroundColor: ['#4CAF50', '#FFC107', '#2196F3', '#FF5722', '#9E9E9E']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });

     Affichage de la modale de notification en cas de superposition
        setTimeout(function() {
            $('#notificationModal').modal('show');
        }, 2000);

        */

      // Cas de superposition de projets
      /* var overlappingPolygon = L.polygon([
        [48.8587, 2.294],
        [48.8593, 2.2945],
        [48.8598, 2.2935],
        [48.8592, 2.293],
      ])
        .addTo(map)
        .setStyle({ color: "red" });
*/
      // Gestion du clic sur le bouton de fermeture du sidebar

      document
        .querySelector(".sidebar .close-btn")
        .addEventListener("click", function () {
          //$("#sidebar").removeClass("show");
          toggleSidebar();
        });

      document
        .querySelector(".avertissement .close-btn")
        .addEventListener("click", function () {
          alert("Je dois fermer ici");
        });

      document
        .querySelector(".showmore")
        .addEventListener("click", function () {
          $("#bar_detail2").addClass("show");
        });

      /*document
        .querySelector(".sidebar .close-btn")
        .addEventListener("click", function () {
         // $("#sidebar").removeClass("show");
          toggleSidebar();
        });

*/

      document
        .querySelector(".bar_detail .close-btn")
        .addEventListener("click", function () {
          $("#bar_detail").removeClass("show");
          toggleSidebar();
        });

      document
        .querySelector(".bar_detail2 .close-btn")
        .addEventListener("click", function () {
          $("#bar_detail2").removeClass("show");
          toggleSidebar();
        });
    </script>

    <script>
      function toggleSidebar() {
        const sidebar = document.getElementById("sidebar");
        const barDetail = document.getElementById("bar_detail");
        const barDetail2 = document.getElementById("bar_detail2");
        const icon_menu = document.getElementById("icon_menu");
        const menu_lite = document.getElementById("menu_lite");
        console.log(sidebar.style);
        //  alert(sidebar.style.width)
        console.log("Total: " + sidebar.style.width);
        //alert("Bonjour je suis ici");
        if (sidebar.style.width === "50px") {
          /* sidebar.style.width = '50px';
        icon_menu.style.display='block' 
        menu_lite.style.display='none'
        barDetail.style.width = '100%';
       */

          // barDetail.style.width = 'calc(100% - 300px)';
          sidebar.style.width = "300px";
          icon_menu.style.display = "none";
          menu_lite.style.display = "block";
          barDetail.style.width = "calc(100% - 300px)";
          barDetail2.style.width = "calc(100% - 300px)";
        } else {
          sidebar.style.right = "0px";
          // sidebar.style.width = '300px';
          // menu_lite.style.display='block'
          sidebar.style.width = "50px";
          icon_menu.style.display = "block";
          menu_lite.style.display = "none";
          barDetail.style.width = "calc(100% - 50px)";
          barDetail2.style.width = "calc(100% - 50px)";
        }
      }
    </script>
  </body>
</html>
