<style>
    .p-font{

    }
    .p-icon{
        color:#84C55C6B!important
    }
    .p-body{
        background-color: white;
       
    }
    .page-item:hover:not(.active):not(.offset):not(.disabled) .page-link {
    color: #244035!important
    }
    .page-item.active>.page-link{
        background-color: #244035!important
    }
</style>
<div class="container mt-10 mb-10">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body ">
                <!--begin::Stats-->
                <div class=" ">
                    <!--begin::Row-->
                    <div class="row text-center">
                       
                        <!--begin::Col-->
                        <div class="col-6">
                            <!--begin::Items-->
                            <div class="p-body rounded-2 px-6 py-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-30px me-5 mb-8">
                                    <span class="symbol-label">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen020.svg-->
                                        <span class="svg-icon svg-icon-1 ">
                                            <svg viewBox="0 0 24 24" fill="#50cd89" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.84467 7.90533C9.13756 8.19822 9.61244 8.19822 9.90533 7.90533L11.625 6.18566L11.625 14.375C11.625 14.7892 11.9608 15.125 12.375 15.125C12.7892 15.125 13.125 14.7892 13.125 14.375V6.18566L14.8447 7.90533C15.1376 8.19822 15.6124 8.19822 15.9053 7.90533C16.1982 7.61244 16.1982 7.13756 15.9053 6.84467L12.9053 3.84467C12.6124 3.55178 12.1376 3.55178 11.8447 3.84467L8.84467 6.84467C8.55178 7.13756 8.55178 7.61244 8.84467 7.90533Z" fill="#50cd89"></path> <path d="M12.375 20.375C16.7933 20.375 20.375 16.7933 20.375 12.375L16.625 12.375C15.6822 12.375 15.2108 12.375 14.9179 12.6679C14.625 12.9608 14.625 13.4322 14.625 14.375C14.625 15.6176 13.6176 16.625 12.375 16.625C11.1324 16.625 10.125 15.6176 10.125 14.375C10.125 13.4322 10.125 12.9608 9.83211 12.6679C9.53921 12.375 9.06781 12.375 8.125 12.375H4.375C4.375 16.7933 7.95672 20.375 12.375 20.375Z" fill="#50cd89"></path> </g></svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Stats-->
                                <div class="m-0">
                                    <!--begin::Number-->
                                    <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1"><%=d_role.length%></span>
                                    <!--end::Number-->
                                    <!--begin::Desc-->
                                    <span class="text-gray-500 fw-semibold fs-6">Role</span>
                                    <!--end::Desc-->
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Items-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-6">
                            <!--begin::Items-->
                            <div class="p-body rounded-2 px-6 py-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-30px me-5 mb-8">
                                    <span class="symbol-label">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen013.svg-->
                                        <span class="svg-icon svg-icon-1 svg-icon-success">
                                            <svg class="w-full h-full" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_752_12553)"><path d="M11.3334 2.22587C13.326 3.37856 14.6667 5.53304 14.6667 8.00065C14.6667 11.6826 11.6819 14.6673 8.00004 14.6673C4.31814 14.6673 1.33337 11.6826 1.33337 8.00065C1.33337 5.53304 2.67404 3.37856 4.66671 2.22587M5.33337 8.00065L8.00004 10.6673M8.00004 10.6673L10.6667 8.00065M8.00004 10.6673V1.33398" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0_752_12553"><rect width="16" height="16" fill="white"></rect></clipPath></defs></svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Stats-->
                                <div class="m-0">
                                    <!--begin::Number-->
                                    <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1"><%=d_admin.length%></span>
                                    <!--end::Number-->
                                    <!--begin::Desc-->
                                    <span class="text-gray-500 fw-semibold fs-6">Utilisateur</span>
                                    <!--end::Desc-->
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Items-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Stats-->
            </div> 
        </div>
        
    </div>
</div>
 <!--begin::Content container-->
 <div id="kt_app_content_container" class="app-container container-xxl">
    <!--begin::Card-->
    <div class="row">
        <div class="col-lg-12 mb-2">
            <div class="card">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title ">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1 ">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ms-6 ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <input type="text" data-kt-user2-table-filter="search" class="p-body form-control  w-250px ps-14" placeholder="Rechercher ..." />
                        </div>
                        <!--end::Search-->
                        <div class=" ml-4" style="margin-left: 20px!important;">
                            Gestion des roles
                        </div>
                        
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base2">
                            <!--begin::Filter-->
                            
                            <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                            
                            <!--end::Menu 1-->
                            <!--end::Filter-->
                            <!--begin::Export-->
                            <button type="button" class="btn btn-light-success me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_export_role">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr078.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.3" x="12.75" y="4.25" width="12" height="2" rx="1" transform="rotate(90 12.75 4.25)" fill="currentColor" />
                                    <path d="M12.0573 6.11875L13.5203 7.87435C13.9121 8.34457 14.6232 8.37683 15.056 7.94401C15.4457 7.5543 15.4641 6.92836 15.0979 6.51643L12.4974 3.59084C12.0996 3.14332 11.4004 3.14332 11.0026 3.59084L8.40206 6.51643C8.0359 6.92836 8.0543 7.5543 8.44401 7.94401C8.87683 8.37683 9.58785 8.34458 9.9797 7.87435L11.4427 6.11875C11.6026 5.92684 11.8974 5.92684 12.0573 6.11875Z" fill="currentColor" />
                                    <path opacity="0.3" d="M18.75 8.25H17.75C17.1977 8.25 16.75 8.69772 16.75 9.25C16.75 9.80228 17.1977 10.25 17.75 10.25C18.3023 10.25 18.75 10.6977 18.75 11.25V18.25C18.75 18.8023 18.3023 19.25 17.75 19.25H5.75C5.19772 19.25 4.75 18.8023 4.75 18.25V11.25C4.75 10.6977 5.19771 10.25 5.75 10.25C6.30229 10.25 6.75 9.80228 6.75 9.25C6.75 8.69772 6.30229 8.25 5.75 8.25H4.75C3.64543 8.25 2.75 9.14543 2.75 10.25V19.25C2.75 20.3546 3.64543 21.25 4.75 21.25H18.75C19.8546 21.25 20.75 20.3546 20.75 19.25V10.25C20.75 9.14543 19.8546 8.25 18.75 8.25Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->Nouveau</button>
                            <!--end::Export-->
                            <!--
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                            
                            <span class="svg-icon svg-icon-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                                </svg>
                            </span>
                            Add User</button>
                            -->
                        </div>
                        <!--end::Toolbar-->
                        <!--begin::Group actions-->
                        <div class="d-flex justify-content-end align-items-center d-none" data-kt-user-table-toolbar="selected2">
                            <div class="fw-bold me-5">
                            <span class="me-2" data-kt-user-table-select="selected_count2"></span>Sélectionné(s)</div>
                            <button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected2">Supprimer la sélection</button>
                        </div>
                        <!--end::Group actions-->
                        <!--begin::Modal - Adjust Balance-->
                        <div class="modal fade" id="kt_modal_export_role" tabindex="-1" aria-hidden="true">
                            <!--begin::Modal dialog-->
                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                <!--begin::Modal content-->
                                <div class="modal-content">
                                    <!--begin::Modal header-->
                                    <div class="modal-header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bold">Ajout de role</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users2-modal-action="close">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                            <span class="svg-icon svg-icon-1">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                        <!--begin::Form-->
                                        <form id="kt_modal_export_users2_form" class="form" action="#">
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="fs-6 fw-semibold form-label mb-2">Ajouter un role:</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" name="categorie" data-control="input2" data-placeholder="Titre du role" data-hide-search="true" class="form-control form-select-solid fw-bold">
                                                
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            
                                            <!--end::Input group-->
                                            <!--begin::Actions-->
                                            <div class="text-center">
                                                <button type="reset" class="btn btn-light me-3" data-kt-users2-modal-action="cancel">Annuler</button>
                                                <button type="submit" class="btn btn-primary" data-kt-users2-modal-action="submit">
                                                    <span class="indicator-label">Ajouter</span>
                                                    <span class="indicator-progress">veuillez patienter... 
                                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                </button>
                                            </div>
                                            <!--end::Actions-->
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Modal body-->
                                </div>
                                <!--end::Modal content-->
                            </div>
                            <!--end::Modal dialog-->
                        </div>
                        <div class="modal fade" id="kt_modal_update_role" tabindex="-1" aria-hidden="true">
                            <!--begin::Modal dialog-->
                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                <!--begin::Modal content-->
                                <div class="modal-content">
                                    <!--begin::Modal header-->
                                    <div class="modal-header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bold">Mise à jour  du role</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-update-modal-action="close">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                            <span class="svg-icon svg-icon-1">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                        <!--begin::Form-->
                                        <form id="kt_modal_update_users2_form" class="form" action="#">
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="fs-6 fw-semibold form-label mb-2">Remplacer l'intitulé du role par:</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" name="categorie2" data-control="input2" data-placeholder="Titre de la catégorie" data-hide-search="true" class="form-control form-select-solid fw-bold">
                                                
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            
                                            <!--end::Input group-->
                                            <!--begin::Actions-->
                                            <div class="text-center">
                                                <button type="reset" class="btn btn-light me-3" data-kt-update-modal-action="cancel">Annuler</button>
                                                <button type="submit" class="btn btn-primary" data-kt-update-modal-action="submit">
                                                    <span class="indicator-label">Ajouter</span>
                                                    <span class="indicator-progress">veuillez patienter... 
                                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                </button>
                                            </div>
                                            <!--end::Actions-->
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Modal body-->
                                </div>
                                <!--end::Modal content-->
                            </div>
                            <!--end::Modal dialog-->
                        </div>
                        <!--end::Modal - New Card-->
                   
                    </div>
                    <!--end::Card toolbar-->
                    <!--begin::Group actions-->
												<div class="d-flex justify-content-end align-items-center d-none" data-kt-user-table-toolbar="selected2">
													<div class="fw-bold me-5">
													<span class="me-2" data-kt-user-table-select="selected_count2"></span>Selected</div>
													<button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected2">Delete Selected</button>
												</div>
												<!--end::Group actions-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body py-4">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_role">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                               
                                <th class="min-w-125px">Date</th>
                                <th class="min-w-125px">Titre</th>
                              
                                <th class="min-w-125px">option</th>
                              
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="text-gray-600 fw-semibold">
                            <!--begin::Table row-->
                           
                            <!--end::Table row-->
                            <%d_role.forEach(elt=>{
                              
                                let date = new Date(elt.Date_creation); 
                                let formatter = new Intl.DateTimeFormat('en-US', { day: '2-digit', month: '2-digit', year: 'numeric' });
                                let formattedDate = formatter.format(date);

                                
                                %>
                            <!--begin::Table row-->
                            <tr>
                                <!--begin::Checkbox-->
                                
                                <td>
                                   <%=formattedDate%>
                                </td>
                                <!--end::Checkbox-->
                                <!--begin::User=-->
                                <td class="">
                                   
                                        <span class="text-gray-800 text-hover-primary "> <%=elt.Intitule_role%></span>
                                     
                                </td>
                                <!--end::User=-->
                         
                            <!--end::User=-->
                            
                            <td >
                                <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions 
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                <span class="svg-icon svg-icon-5 m-0">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon--></a>
                                <!--begin::Menu-->
                                <%if(!elt.Default){%>
                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a data-bs-toggle="modal" data-bs-target="#kt_modal_update_role" class="menu-link update-cat px-3" data-bs-id="<%=elt._id%>">Modifier</a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-users2-table-filter="delete_row">Supprimer</a>
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <%}else{%>
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                           Aucune action possible
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                      
                                        <!--end::Menu item-->
                                    </div>
                                <%}%>
                                <!--end::Menu-->
                            </td>
                                <!--begin::Role=-->
                          
                             
                            </tr>
                            <%})%>
                            <!--end::Table row-->
                          
                        
                            <!--begin::Table row-->
                            
                            <!--end::Table row-->
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
        </div>
        <div class="col-lg-12  mt-10">
            <div class="card">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title ">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1 ">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ms-6 ">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <input type="text" data-kt-user-table-filter="search" class="p-body form-control  w-250px ps-14" placeholder="Rechercher ..." />
                        </div>
                        <!--end::Search-->
                        <div class=" ml-4" style="margin-left: 20px!important;">
                            Utilisateurs
                        </div>
                        
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                            <!--begin::Filter-->
                            <button type="button" class="btn btn-light-success me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->Filtre</button>
                            <!--begin::Menu 1-->
                            <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
                                <!--begin::Header-->
                                <div class="px-7 py-5">
                                    <div class="fs-5 text-dark fw-bold">Option de filtrage</div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Separator-->
                                <div class="separator border-gray-200"></div>
                                <!--end::Separator-->
                                <!--begin::Content-->
                                <div class="px-7 py-5" data-kt-user-table-filter="form">
                                    <!--begin::Input group-->
                                    <div class="mb-10">
                                        <label class="form-label fs-6 fw-semibold">Categorie:</label>
                                        <select class="form-select form-select-solid fw-bold" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-user-table-filter="role" data-hide-search="true">
                                            <option></option>
                                            
                                        </select>
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <!-- <div class="mb-10">
                                        <label class="form-label fs-6 fw-semibold">Two Step Verification:</label>
                                        <select class="form-select form-select-solid fw-bold" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-user-table-filter="two-step" data-hide-search="true">
                                            <option></option>
                                            <option value="Enabled">Enabled</option>
                                        </select>
                                    </div> -->
                                    <!--end::Input group-->
                                    <!--begin::Actions-->
                                    <div class="d-flex justify-content-end">
                                        <button type="reset" class="btn btn-light btn-active-light-primary fw-semibold me-2 px-6" data-kt-menu-dismiss="true" data-kt-user-table-filter="reset">Annuler</button>
                                        <button type="submit" class="btn btn-primary fw-semibold px-6" data-kt-menu-dismiss="true" data-kt-user-table-filter="filter">Appliquer</button>
                                    </div>
                                    <!--end::Actions-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Menu 1-->
                            <!--end::Filter-->
                            <!--begin::Export-->
                            <button type="button" class="btn btn-light-success me-3" data-bs-toggle="modal" data-bs-target="#kt_modal_export_utilisateur">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr078.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.3" x="12.75" y="4.25" width="12" height="2" rx="1" transform="rotate(90 12.75 4.25)" fill="currentColor" />
                                    <path d="M12.0573 6.11875L13.5203 7.87435C13.9121 8.34457 14.6232 8.37683 15.056 7.94401C15.4457 7.5543 15.4641 6.92836 15.0979 6.51643L12.4974 3.59084C12.0996 3.14332 11.4004 3.14332 11.0026 3.59084L8.40206 6.51643C8.0359 6.92836 8.0543 7.5543 8.44401 7.94401C8.87683 8.37683 9.58785 8.34458 9.9797 7.87435L11.4427 6.11875C11.6026 5.92684 11.8974 5.92684 12.0573 6.11875Z" fill="currentColor" />
                                    <path opacity="0.3" d="M18.75 8.25H17.75C17.1977 8.25 16.75 8.69772 16.75 9.25C16.75 9.80228 17.1977 10.25 17.75 10.25C18.3023 10.25 18.75 10.6977 18.75 11.25V18.25C18.75 18.8023 18.3023 19.25 17.75 19.25H5.75C5.19772 19.25 4.75 18.8023 4.75 18.25V11.25C4.75 10.6977 5.19771 10.25 5.75 10.25C6.30229 10.25 6.75 9.80228 6.75 9.25C6.75 8.69772 6.30229 8.25 5.75 8.25H4.75C3.64543 8.25 2.75 9.14543 2.75 10.25V19.25C2.75 20.3546 3.64543 21.25 4.75 21.25H18.75C19.8546 21.25 20.75 20.3546 20.75 19.25V10.25C20.75 9.14543 19.8546 8.25 18.75 8.25Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->Nouveau</button>
                            <!--end::Export-->
                            <!--
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                            
                            <span class="svg-icon svg-icon-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                                </svg>
                            </span>
                            Add User</button>
                            -->
                        </div>
                        <!--end::Toolbar-->
                        <!--begin::Group actions-->
                        
                        <!--end::Group actions-->
                        <!--begin::Modal - Adjust Balance-->
                        <div class="modal fade" id="kt_modal_export_utilisateur" tabindex="-1" aria-hidden="true">
                            <!--begin::Modal dialog-->
                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                <!--begin::Modal content-->
                                <div class="modal-content">
                                    <!--begin::Modal header-->
                                    <div class="modal-header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bold">Ajout d'utilisateur</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                            <span class="svg-icon svg-icon-1">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                        <!--begin::Form-->
                                        <form id="kt_modal_export_users_form" class="form" action="#">
                                            <!--begin::Input group-->
                                            <!--end::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="required fs-6 fw-semibold form-label mb-2">Choix du role</label>
                                                <!--end::Label-->
                                                <div class="form-check mt-2 mb-2">
                                                    <input class="form-check-input" type="checkbox" value="admin" id="admin"  />
                                                    <label class="form-check-label" for="admin">
                                                        Cocher si l'utilisateur est un admin
                                                    </label>
                                                </div>
                                                <!--begin::Input-->
                                                <h4 class="no_admin">Entrer le role de l'utilisateur</h4>
                                                <input type="text"  name="role" class="form-control no_admin" placeholder="...">
                                                <!--end::Input-->
                                            </div>
                                              <!--begin::Input group-->
                                            <div class="fv-row mb-10 no_admin">
                                                
                                                <label class="fs-6 fw-semibold form-label mb-2">Choisir les types de fichiers associés:</label>
                                                <!--begin::Input-->
                                                <%d_role.forEach(elt=>{ if(elt.TypeStruct==Type_struct){%>
                                                    <!--begin::Label-->
                                                
                                                <!--end::Label-->
                                                <div class="form-check mt-2 mb-2 ">
                                                    <input class="form-check-input mr-1 filetype" type="checkbox" value="<%=elt._id%>" id="<%=elt._id%>"  />
                                                    <label class="form-check-label ml-1" for="<%=elt._id%>">
                                                        <%=elt.Intitule_role%>
                                                    </label>
                                                </div>
                                                <%}})%>
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row  mb-10  y_admin">
                                                <!--begin::Label-->
                                                <%if(Type_struct=="GLOBAL"){%>
                                                <label class="fs-6 required fw-semibold form-label mb-2">Ministère addressé</label>
                                                <!--end::Label-->
                                                <select class="form-control" name="minister">
                                                    
                                                    <option value="ENV">Ministère de l'environement</option>
                                                    
                                                   
                                                    <option value="ECO">Ministère de l'économie</option>
                                                   
                                                </select>

                                                <%}else{%>
                                                    <label class="fs-6 required fw-semibold form-label mb-2">Ministère addressé</label>
                                                    <!--end::Label-->
                                                    <select class="form-control" name="minister">
                                                        <%if(Type_struct=="ENV"){%>
                                                        <option value="ENV">Ministère de l'environement</option>
                                                        <%}if(Type_struct=="ECO"){%>
                                                       
                                                        <option value="ECO">Ministère de l'économie</option>
                                                        <%}%>
                                                    </select>
                                                <%}%>
                                                <!--begin::Input-->
                                      
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row  mb-10">
                                                <!--begin::Label-->
                                                <label class="fs-6 required fw-semibold form-label mb-2">Nom </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text"  name="nom" class="form-control" placeholder="Nom">
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row  mb-10">
                                                <!--begin::Label-->
                                                <label class="fs-6 required fw-semibold form-label mb-2">Prenom </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text"  name="prenom" class="form-control" placeholder="Prenom">
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="required fs-6 fw-semibold form-label mb-2">Email</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="email"  name="email" class="form-control" placeholder="Email">
                                                <!--end::Input-->
                                            </div>
                                            
                                             
                                            <!--end::Input group-->
                                            <!--begin::Actions-->
                                            <div class="text-center">
                                                <button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Annuler</button>
                                                <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                                                    <span class="indicator-label">Ajouter</span>
                                                    <span class="indicator-progress">veuillez patienter... 
                                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                </button>
                                            </div>
                                            <!--end::Actions-->
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Modal body-->
                                </div>
                                <!--end::Modal content-->
                            </div>
                            <!--end::Modal dialog-->
                        </div>
                        <div class="modal fade" id="kt_modal2_update_usersa" tabindex="-1" aria-hidden="true">
                            <!--begin::Modal dialog-->
                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                <!--begin::Modal content-->
                                <div class="modal-content">
                                    <!--begin::Modal header-->
                                    <div class="modal-header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bold">Modification de l'Utilisateur</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-update-modal-action="close">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                            <span class="svg-icon svg-icon-1">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                        <!--begin::Form-->
                                        <form id="kt_modal2_update_usersa_form" class="form" action="#">
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="fs-6 fw-semibold form-label mb-2">Types de fichiers associés</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <%d_role.forEach(elt=>{ if(elt.Type=="Type_struct"){%>
                                                    <!--begin::Label-->
                                                <label class="fs-6 fw-semibold form-label mb-2">Choisir les types de fichiers associés:</label>
                                                <!--end::Label-->
                                                <div class="form-check mt-2 mb-2 ">
                                                    <input class="form-check-input mr-1 filetype" type="checkbox" value="<%=elt._id%>" id="<%=elt._id%>"  />
                                                    <label class="form-check-label ml-1" for="<%=elt._id%>">
                                                        <%=elt.Intitule_role%>
                                                    </label>
                                                </div>
                                                <%}})%>
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="fs-6 fw-semibold form-label mb-2">Nom </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control" name="Nom">
                                                
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="fs-6 fw-semibold form-label mb-2">Prenom </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control" name="Prenom">
                                                
                                                <!--end::Input-->
                                            </div>
                                           
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="fs-6 fw-semibold form-label mb-2">Role </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="hidden" class="form-control" name="Role">
                                                
                                                <!--end::Input-->
                                            </div>

                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                           
                                            <!--begin::Actions-->
                                            <div class="text-center">
                                                <button type="reset" class="btn btn-light me-3" data-kt-update-modal-action="cancel">Annuler</button>
                                                <button type="submit" class="btn btn-primary" data-kt-update-modal-action="submit">
                                                    <span class="indicator-label">Modifier</span>
                                                    <span class="indicator-progress">veuillez patienter... 
                                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                </button>
                                            </div>
                                            <!--end::Actions-->
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Modal body-->
                                </div>
                                <!--end::Modal content-->
                            </div>
                            <!--end::Modal dialog-->
                        </div>
                        <!--end::Modal - New Card-->
                   
                    </div>
                    <!--end::Card toolbar-->
                    <!--begin::Group actions-->
												<div class="d-flex justify-content-end align-items-center d-none" data-kt-user-table-toolbar="selected">
													<div class="fw-bold me-5">
													<span class="me-2" data-kt-user-table-select="selected_count"></span>Sélectionné(s)</div>
													<button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected">Supprimer la sélection</button>
												</div>
												<!--end::Group actions-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body py-4">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_utilisateur">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                                
                                <th class="min-w-125px">Date</th>
                                <th class="min-w-125px">Nom & Prenom</th>
                                <th class="min-w-125px">Email</th>
                              
                                <th class="min-w-125px">Role</th>
                                <th class="min-w-125px">option</th>
                              
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="text-gray-600 fw-semibold">
                            <!--begin::Table row-->
                           
                            <!--end::Table row-->
                            <!--begin::Table row-->
                            <%  d_admin.forEach(elt=>{
                                let date = new Date(elt.user.Date_creation)
                                let formatters = new Intl.DateTimeFormat('en-US', { day: '2-digit', month: '2-digit', year: 'numeric' });
                                let formattedDates = formatters.format(date);
                                
                                
                                %>
                            <tr>
                                <!--begin::Checkbox-->
                               
                                <td>
                                   <%=formattedDates%>
                                </td>
                                <!--end::Checkbox-->
                                <!--begin::User=-->
                                <td class="">
                                   
                                        <span class="text-gray-800 text-hover-primary "><%=elt.user.Nom +" "+ elt.user.Prenom%></span>
                                     
                                </td>
                                <td class="">
                                   
                                    <span class="text-gray-800 text-hover-primary "><%=elt.user.Email%></span>
                                 
                            </td>
                                <!--end::User=-->
                         
                            <!--end::User=-->
                            <td>
                                <%=elt.user.Role%>
                            </td>
                            <td >
                                <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions 
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                <span class="svg-icon svg-icon-5 m-0">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon--></a>
                                <!--begin::Menu-->
                                <%if(elt.user.Role!="admin"){%>
                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3"><% const data_j = { Nom: elt.user.Nom, Prenom: elt.user.Prenom, TypeFile: elt.user.TypeFile, Role:elt.user.Role}; %>
                                        <a data-bs-toggle="modal"  data-bs-target="#kt_modal2_update_usersa" class="menu-link px-3 update-file" data-bs-id="<%=elt.user._id%>" data-bs-user='<%= JSON.stringify(data_j)%>' >Modifier</a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-users-table-filter="delete_row" data-bs-id="<%=elt.user._id%>">Supprimer</a>
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <%}else{%>

                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                           Aucune action possible
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                      
                                        <!--end::Menu item-->
                                    </div>

                                    <%}%>
                                <!--end::Menu-->
                            </td>
                                <!--begin::Role=-->
                          
                             
                            </tr>
                            <%})%>
                            <!--end::Table row-->
                          
                        
                            <!--begin::Table row-->
                            
                            <!--end::Table row-->
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
        </div>
    </div>
    
    <!--end::Card-->
</div>
<div >
    <input type="hidden" id="token" name="token" value="<%=token%>">
</div>
<!--end::Content container-->
<script>
    let id_cat=""
    let user 
    document.addEventListener('DOMContentLoaded', function() {
    // Sélectionnez tous les éléments avec la classe 'maClasse'
    var elements = document.querySelectorAll('.update-cat');

    // Ajoutez un écouteur d'événements à chaque élément
    elements.forEach(function(element) {
        element.addEventListener('click', function(event) {
            // Accédez à l'attribut 'data-info' en utilisant getAttribute
            var info = element.getAttribute('data-bs-id');
            // Accédez à d'autres propriétés de l'élément, par exemple le texte du bouton
            var text = element.textContent;

            // Affichez les informations dans la console
            id_cat=info
            
            
        });
    });
});
let id_file=""
    document.addEventListener('DOMContentLoaded', function() {
    // Sélectionnez tous les éléments avec la classe 'maClasse'
    var elements = document.querySelectorAll('.update-file');

    // Ajoutez un écouteur d'événements à chaque élément
    elements.forEach(function(element) {
        element.addEventListener('click', function(event) {
            // Accédez à l'attribut 'data-info' en utilisant getAttribute
            var info = element.getAttribute('data-bs-id');
            
            // Accédez à d'autres propriétés de l'élément, par exemple le texte du bouton
            var text = element.textContent;
           
            // Affichez les informations dans la console
            id_file=info
           
          
            var myuser=element.getAttribute('data-bs-user');
        
            if(myuser!=undefined){
      
                let json_user = JSON.parse(myuser);
      
                document.querySelector('input[name="Nom"]').value = json_user.Nom;
                document.querySelector('input[name="Prenom"]').value = json_user.Prenom;
                document.querySelector('input[name="Role"]').value = json_user.Role;
               // Sélectionner toutes les cases à cocher avec la classe 'filetype'
                const checkboxes = document.querySelectorAll('input.filetype2');

                // Itérer sur chaque case à cocher et décocher
                checkboxes.forEach(checkbox => {
                    checkbox.removeAttribute('checked');
                });

                json_user.TypeFile.forEach(elt=>{
                    console.log(elt)
                   let content = document.getElementById("gas"+elt)
                   console.log(content)
                   content.setAttribute('checked','');
                })
            }
            
        });
    });
});
</script>