<style>
    .p-font{

    }
    .p-icon{
        color:#84C55C6B!important
    }
    .p-body{
        background-color: #84C55C6B;

    }
    .page-item:hover:not(.active):not(.offset):not(.disabled) .page-link {
    color: #244035!important
    }
    .page-item.active>.page-link{
        background-color: #244035!important
    }
</style>
<div class="container mt-10 mb-10">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body ">
                <!--begin::Stats-->
                <div class=" ">
                    <!--begin::Row-->
                    <div class="row ">
                        <!--begin::Col-->
                        <div class="col-3">
                            <!--begin::Items-->
                            <div class="p-body rounded-2 px-6 py-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-30px me-5 mb-8">
                                    <span class="symbol-label">
                                        <!--begin::Svg Icon | path: icons/duotune/medicine/med005.svg-->
                                        <span class="svg-icon svg-icon-1 svg-icon-success">
                                           <svg class="h-full w-full" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_752_12561)"><path d="M9.0197 5.56856C8.63809 5.84062 8.17109 6.00065 7.66671 6.00065C6.37804 6.00065 5.33337 4.95598 5.33337 3.66732C5.33337 2.37865 6.37804 1.33398 7.66671 1.33398C8.50203 1.33398 9.23484 1.77293 9.64705 2.43275M4.00004 13.3921H5.74023C5.96713 13.3921 6.19263 13.4191 6.41258 13.4731L8.2513 13.9199C8.65027 14.0171 9.06589 14.0265 9.46902 13.9483L11.502 13.5527C12.0391 13.4481 12.5331 13.1909 12.9203 12.8143L14.3586 11.4151C14.7694 11.0162 14.7694 10.3689 14.3586 9.96936C13.9888 9.60961 13.4032 9.56911 12.9848 9.87419L11.3084 11.0972C11.0684 11.2727 10.7762 11.3672 10.4758 11.3672H8.85704L9.88742 11.3672C10.4682 11.3672 10.9386 10.9095 10.9386 10.3446V10.1401C10.9386 9.67098 10.6104 9.26196 10.1428 9.14856L8.55244 8.76181C8.29363 8.69904 8.02858 8.66732 7.76213 8.66732C7.11893 8.66732 5.95464 9.19986 5.95464 9.19986L4.00004 10.0172M13.3334 4.33398C13.3334 5.62265 12.2887 6.66732 11 6.66732C9.71138 6.66732 8.66671 5.62265 8.66671 4.33398C8.66671 3.04532 9.71138 2.00065 11 2.00065C12.2887 2.00065 13.3334 3.04532 13.3334 4.33398ZM1.33337 9.73398L1.33337 13.6007C1.33337 13.974 1.33337 14.1607 1.40604 14.3033C1.46995 14.4288 1.57194 14.5307 1.69738 14.5947C1.83999 14.6673 2.02667 14.6673 2.40004 14.6673H2.93337C3.30674 14.6673 3.49343 14.6673 3.63603 14.5947C3.76148 14.5307 3.86346 14.4288 3.92738 14.3033C4.00004 14.1607 4.00004 13.974 4.00004 13.6007V9.73398C4.00004 9.36062 4.00004 9.17393 3.92738 9.03132C3.86346 8.90588 3.76148 8.8039 3.63603 8.73998C3.49343 8.66732 3.30674 8.66732 2.93337 8.66732L2.40004 8.66732C2.02667 8.66732 1.83999 8.66732 1.69738 8.73998C1.57194 8.8039 1.46995 8.90588 1.40604 9.03132C1.33337 9.17393 1.33337 9.36062 1.33337 9.73398Z" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0_752_12561"><rect width="16" height="16" fill="white"></rect></clipPath></defs></svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Stats-->
                                <div class="m-0">
                                    <!--begin::Number-->
                                    <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1"><%=data.totalestcredit%></span>
                                    <!--end::Number-->
                                    <!--begin::Desc-->
                                    <span class="text-gray-500 fw-semibold fs-6">Crédit Estimés</span>
                                    <!--end::Desc-->
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Items-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-3">
                            <!--begin::Items-->
                            <div class="p-body rounded-2 px-6 py-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-30px me-5 mb-8">
                                    <span class="symbol-label">
                                        <!--begin::Svg Icon | path: icons/duotune/finance/fin001.svg-->
                                        <span class="svg-icon svg-icon-1 svg-icon-success">
                                            <svg class="h-full w-full" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9186 13.3933C10.7796 14.2208 9.40784 14.6665 7.99998 14.6665C6.59212 14.6665 5.2204 14.2208 4.08142 13.3933M10.9225 2.00788C12.1878 2.62504 13.2253 3.62696 13.8863 4.87003C14.5473 6.11309 14.7977 7.5335 14.6018 8.92766M1.39826 8.92759C1.20232 7.53343 1.45278 6.11303 2.11373 4.86996C2.77468 3.62689 3.8122 2.62498 5.07757 2.00781M11.6666 7.99984C11.6666 10.0249 10.025 11.6665 7.99998 11.6665C5.97494 11.6665 4.33332 10.0249 4.33332 7.99984C4.33332 5.97479 5.97494 4.33317 7.99998 4.33317C10.025 4.33317 11.6666 5.97479 11.6666 7.99984Z" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Stats-->
                                <div class="m-0">
                                    <!--begin::Number-->
                                    <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1"><%=data.totalbalancecredit%></span>
                                    <!--end::Number-->
                                    <!--begin::Desc-->
                                    <span class="text-gray-500 fw-semibold fs-6">Crédits Disponibles</span>
                                    <!--end::Desc-->
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Items-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-3">
                            <!--begin::Items-->
                            <div class="p-body rounded-2 px-6 py-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-30px me-5 mb-8">
                                    <span class="symbol-label">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen020.svg-->
                                        <span class="svg-icon svg-icon-1 ">
                                            <svg viewBox="0 0 24 24" fill="#50cd89" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8.84467 7.90533C9.13756 8.19822 9.61244 8.19822 9.90533 7.90533L11.625 6.18566L11.625 14.375C11.625 14.7892 11.9608 15.125 12.375 15.125C12.7892 15.125 13.125 14.7892 13.125 14.375V6.18566L14.8447 7.90533C15.1376 8.19822 15.6124 8.19822 15.9053 7.90533C16.1982 7.61244 16.1982 7.13756 15.9053 6.84467L12.9053 3.84467C12.6124 3.55178 12.1376 3.55178 11.8447 3.84467L8.84467 6.84467C8.55178 7.13756 8.55178 7.61244 8.84467 7.90533Z" fill="#50cd89"></path> <path d="M12.375 20.375C16.7933 20.375 20.375 16.7933 20.375 12.375L16.625 12.375C15.6822 12.375 15.2108 12.375 14.9179 12.6679C14.625 12.9608 14.625 13.4322 14.625 14.375C14.625 15.6176 13.6176 16.625 12.375 16.625C11.1324 16.625 10.125 15.6176 10.125 14.375C10.125 13.4322 10.125 12.9608 9.83211 12.6679C9.53921 12.375 9.06781 12.375 8.125 12.375H4.375C4.375 16.7933 7.95672 20.375 12.375 20.375Z" fill="#50cd89"></path> </g></svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Stats-->
                                <div class="m-0">
                                    <!--begin::Number-->
                                    <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1"><%=data.totalissuedcredit%></span>
                                    <!--end::Number-->
                                    <!--begin::Desc-->
                                    <span class="text-gray-500 fw-semibold fs-6">Credits Emis</span>
                                    <!--end::Desc-->
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Items-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-3">
                            <!--begin::Items-->
                            <div class="p-body rounded-2 px-6 py-5">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-30px me-5 mb-8">
                                    <span class="symbol-label">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen013.svg-->
                                        <span class="svg-icon svg-icon-1 svg-icon-success">
                                            <svg class="w-full h-full" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_752_12553)"><path d="M11.3334 2.22587C13.326 3.37856 14.6667 5.53304 14.6667 8.00065C14.6667 11.6826 11.6819 14.6673 8.00004 14.6673C4.31814 14.6673 1.33337 11.6826 1.33337 8.00065C1.33337 5.53304 2.67404 3.37856 4.66671 2.22587M5.33337 8.00065L8.00004 10.6673M8.00004 10.6673L10.6667 8.00065M8.00004 10.6673V1.33398" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0_752_12553"><rect width="16" height="16" fill="white"></rect></clipPath></defs></svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Stats-->
                                <div class="m-0">
                                    <!--begin::Number-->
                                    <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1"><%=data.totalretiredcredit%></span>
                                    <!--end::Number-->
                                    <!--begin::Desc-->
                                    <span class="text-gray-500 fw-semibold fs-6">Crédits Rétirés</span>
                                    <!--end::Desc-->
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Items-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Stats-->
            </div> 
        </div>
        
    </div>
</div>
 <!--begin::Content container-->
 <div id="kt_app_content_container" class="app-container container-xxl">
    <!--begin::Card-->
    <div class="card">
        <!--begin::Card header-->
        <div class="card-header border-0 pt-6">
            <!--begin::Card title-->
            <div class="card-title ">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1 ">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                    <span class="svg-icon svg-icon-1 position-absolute ms-6 ">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <input type="text" data-kt-user-table-filter="search" class="p-body form-control  w-250px ps-14" placeholder="Rechercher ..." />
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Card title-->
            <!--begin::Card toolbar-->
             
            <div class="card-toolbar">
                <!--begin::Toolbar-->
                <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                    <!--begin::Filter-->
                  <button type="button" class="btn btn-light-success me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->Filtre</button>
                    <!--begin::Menu 1-->
                    <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
                        <!--begin::Header-->
                        <div class="px-7 py-5">
                            <div class="fs-5 text-dark fw-bold">Options de filtre</div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Separator-->
                        <div class="separator border-gray-200"></div>
                        <!--end::Separator-->
                        <!--begin::Content-->
                        <div class="px-7 py-5" data-kt-user-table-filter="form">
                            <!--begin::Input group-->
                            <div class="mb-10">
                                <label class="form-label fs-6 fw-semibold">Secteur :</label>
                                <select class="form-select form-select-solid fw-bold" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-user-table-filter="role" data-hide-search="true">
                                    <option></option>
                                    <%
                                    let sectors =[]
                                    ndc_data.forEach(elt=>{
                                        sectors.push(elt.sector)
                                    })
                                    sectors=sectors.filter((element, index) => {
                                        return sectors.indexOf(element) === index;
                                    });
                                    %>
                                    <%sectors.forEach(elt=>{%>
                                    <option value="<%=elt%>"><%=elt%></option>
                                    <%})%>
                               
                                </select>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <!-- <div class="mb-10">
                                <label class="form-label fs-6 fw-semibold">Two Step Verification:</label>
                                <select class="form-select form-select-solid fw-bold" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-user-table-filter="two-step" data-hide-search="true">
                                    <option></option>
                                    <option value="Enabled">Enabled</option>
                                </select>
                            </div> -->
                            <!--end::Input group-->
                            <!--begin::Actions-->
                            <div class="d-flex justify-content-end">
                                <button type="reset" class="btn btn-light btn-active-light-success fw-semibold me-2 px-6" data-kt-menu-dismiss="true" data-kt-user-table-filter="reset">Annuler</button>
                                <button type="submit" class="btn btn-success fw-semibold px-6" data-kt-menu-dismiss="true" data-kt-user-table-filter="filter">Appliquer</button>
                            </div>
                            <!--end::Actions-->
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Menu 1-->
                    <!--end::Filter-->
                  
                    <button type="button" id="exportButton" class="btn btn-light-success me-3" >
                 
                    <span class="svg-icon svg-icon-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.3" x="12.75" y="4.25" width="12" height="2" rx="1" transform="rotate(90 12.75 4.25)" fill="currentColor" />
                            <path d="M12.0573 6.11875L13.5203 7.87435C13.9121 8.34457 14.6232 8.37683 15.056 7.94401C15.4457 7.5543 15.4641 6.92836 15.0979 6.51643L12.4974 3.59084C12.0996 3.14332 11.4004 3.14332 11.0026 3.59084L8.40206 6.51643C8.0359 6.92836 8.0543 7.5543 8.44401 7.94401C8.87683 8.37683 9.58785 8.34458 9.9797 7.87435L11.4427 6.11875C11.6026 5.92684 11.8974 5.92684 12.0573 6.11875Z" fill="currentColor" />
                            <path opacity="0.3" d="M18.75 8.25H17.75C17.1977 8.25 16.75 8.69772 16.75 9.25C16.75 9.80228 17.1977 10.25 17.75 10.25C18.3023 10.25 18.75 10.6977 18.75 11.25V18.25C18.75 18.8023 18.3023 19.25 17.75 19.25H5.75C5.19772 19.25 4.75 18.8023 4.75 18.25V11.25C4.75 10.6977 5.19771 10.25 5.75 10.25C6.30229 10.25 6.75 9.80228 6.75 9.25C6.75 8.69772 6.30229 8.25 5.75 8.25H4.75C3.64543 8.25 2.75 9.14543 2.75 10.25V19.25C2.75 20.3546 3.64543 21.25 4.75 21.25H18.75C19.8546 21.25 20.75 20.3546 20.75 19.25V10.25C20.75 9.14543 19.8546 8.25 18.75 8.25Z" fill="currentColor" />
                        </svg>
                    </span>
                 Export Excel </button>
                    <!--end::Export-->
                    <!--
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                    
                    <span class="svg-icon svg-icon-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                        </svg>
                    </span>
                    Add User</button>
                    -->
                </div>
                <!--end::Toolbar-->
                <!--begin::Group actions-->
                <div class="d-flex justify-content-end align-items-center d-none" data-kt-user-table-toolbar="selected">
                    <div class="fw-bold me-5">
                    <span class="me-2" data-kt-user-table-select="selected_count"></span>Selected</div>
                    <button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected">Delete Selected</button>
                </div>
                <!--end::Group actions-->
       
            </div>
             
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body py-4">
            <!--begin::Table-->
            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                <!--begin::Table head-->
                <thead>
                    <!--begin::Table row-->
                    <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                        <th class="w-10px pe-2">
                            
                        </th>
                        <th class="min-w-125px">Date</th>
                        <th class="min-w-200px">Projet</th>
                        <th class="min-w-200px">Secteur</th>
                        <th class="min-w-200px">Organisation</th>
                        <th class="min-w-125px">Disponible</th>
                        <th class="min-w-125px">Emis</th>
                        
                        <th class="min-w-125px">Reduction attendue</th>
                        <th class="min-w-125px">Reduction archevée</th>
                       <th class="min-w-200px">Type</th>
                         <!--<th class="min-w-200px">Methodologie</th>
                        <th class="min-w-125px">Sous-Type</th>
                        <th class="text-end  min-w-200px">Status</th>-->
                    </tr>
                    <!--end::Table row-->
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody class="text-gray-600 fw-semibold">
                    <!--begin::Table row-->
                   
                    <!--end::Table row-->
                    <!--begin::Table row-->
                    <%ndc_data.forEach(elt=>{%>
                    <tr>
                        <!--begin::Checkbox-->
                        <td>
                            <a target="_blank" href="/projet/<%=elt.programmeId%>" class="btn btn-sm btn-light-success"><i class="fa-solid fa-eye"></i></a>
                        </td>
                        <td>
                            <%
                          
                            
                            let timestamp = elt.createdTime*1;
                            let date = new Date(timestamp);

                            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                            let dateFormatted = date.toLocaleDateString('fr-FR', options);
                           %>
                           <%=dateFormatted%>
                        </td>
                        <!--end::Checkbox-->
                        <!--begin::User=-->
                        <td class="">
                            <span class="text-gray-800 text-hover-primary "><%=elt.programmeName%></span>
                          
                             
                        </td>
                        <!--end::User=-->
                    </td>
                    <!--end::User=-->
                    <td>
                        <%=elt.sector%>
                    </td>
                    <td>
                        <%if(elt.company.length==1){%>
                            <span class="text-gray-800 text-hover-primary "><%=elt.company[0].name%></span>
                            <%}else{%>
                               <!-- Nombre : <%=elt.company.length%> -->

                               <%elt.company.forEach(elt=>{%>

                                <%=elt.name%>;
                                <%})%>
                           <%}%>
                    </td>
                        <!--begin::Role=-->
                        <td><div class="badge badge-light-success fw-bold"><%=elt.ndcFinancing.availableCredits%></div></td>
                        <!--end::Role=-->
                        <!--begin::Last login=-->
                        <td>
                            <div class="badge badge-light-primary fw-bold"><%=elt.ndcFinancing.issuedCredits%></div>
                        </td>
                        <!--end::Last login=-->
                        <!--begin::Two step=-->
                       
                        <!--begin::Joined-->
                        <!--begin::Action=-->
                        <td >
                            <div class="badge badge-light-danger fw-bold"><%=elt.emissionReductionExpected%></div>
                            
                        </td>
                    
                        <td><div class="badge badge-light-warning fw-bold"><%=elt.emissionReductionAchieved%></div></td>
                        <td><%=elt.typeOfMitigation%></td>
                        <!--<td class="text-end">  <%=elt.methodology%></td>
                        <td>
                            <div class="badge badge-light-primary fw-bold"><%=elt.subTypeOfMitigation%></div>
                        </td>
                        
                        <td><div class="badge badge-light-warning fw-bold"><%=elt.status%></div></td>-->
                    </tr>
                    <%})%>
                    <!--end::Table row-->
                  
                
                    <!--begin::Table row-->
                    
                    <!--end::Table row-->
                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</div>
<!--end::Content container-->